[2014-02-08 05:51] pranavkm opened #2 "Add the ability to calculate root relative paths"
It would be nice to have this as a property of the IFileSystem. If not, perhaps specifically a property of the PhysicalFile?

[2014-03-09 15:08] davidfowl opened #4 "Rename IFileSystem to something more web specific"
Sounds too general at the moment and it's really only about reading files from under the application root.

[2014-04-28 17:37] Praburaj opened #5 "PhysicalFileSystem to retrieve application base path from IApplicationEnvironment"
`GetFullRoot` method in https://github.com/aspnet/FileSystem/blob/dev/src/Microsoft.AspNet.FileSystems/PhysicalFileSystem.cs seems to be retrieving the application base path from the `AppDomain` or `Directory.CurrentDirectory()`. Instead should we retrieve the application base path from `IApplicationEnvironment.ApplicationBasePath`.

[2014-05-15 19:39] shhsu opened #6 "Implement a IFileSystemProvider to cache instances of IFileSystem"
This requirement affects MVC stack. MVC currently create instances of PhysicalFileSystem per request and the PhysicalFileSystem constructor calls Directory.Exists to verify input path exists. The IO cost adds up significantly. We need an implementation of IFileSystemProvider which can cache FileSystem creation for the application base.

[2014-07-11 19:40] pranavkm opened #9 "IFIleSystem should use UTC dates \ regular"
https://github.com/aspnet/FileSystem/blob/dev/src/Microsoft.AspNet.FileSystems/PhysicalFileSystem.cs#L207-L210

LastWriteTimeUtc

[2014-07-30 22:48] xqiu opened #10 "Need to handle ~/path in PhysicalFileSystem.cs"
In MusicStore.SPA project, src\MvcMusicStore.Spa\Controllers\TemplateController.cs returns a view starting with "~", which will cause the system to fail with the following information:

[code]

I think it's due to the fact that we didn't handle '~' in
https://github.com/aspnet/FileSystem/blob/dev/src/Microsoft.AspNet.FileSystems/PhysicalFileSystem.cs
Where we have two places having the following c

[2014-08-18 15:51] #10 closed, assigned to nobody

[2014-08-21 17:11] pranavkm opened #12 "Add an IFileSystem.TryGetParent API"
We would be able use this to target https://github.com/aspnet/FileSystem/issues/2.

Suggested signature: `bool IFileSystem.TryGetParent(string subpath, out string parent)`
Returns false if `subpath` is not a valid path under the root or if the subpath is already at the root of the application.

Examples:

[code]

[2014-08-21 17:13] #2 closed, assigned to nobody

[2014-08-22 17:11] pranavkm opened #14 "Absolute paths are interpreted incorrectly in *nix systems"
The `PhysicalFileSystem` abstraction interprets paths such as `/foo` to mean `{Root}/foo`. This works fine on Windows machines since absolute paths are rooted with drive letters.

On *nix machines, this would be incorrect since an absolute path such as `/tmp/myapp/myfile.txt` would get treated as `{Root}/tmp/myapp/myfile.txt`.

[2014-08-22 17:34] pranavkm opened #16 "Need to account for case sensitivity in paths in *nix systems"
Based on discussion here - https://github.com/aspnet/FileSystem/pull/15/files#r16609383

[2014-08-22 17:38] #14 closed, assigned to nobody

[2014-08-26 16:34] #12 closed, assigned to nobody

[2014-09-04 05:51] #5 closed, assigned to davidfowl

[2014-09-10 23:26] Tratcher opened #17 "PhysicalFileSystem constructor should only take absolute paths"
RE: https://github.com/aspnet/StaticFiles/issues/8

Right now PhysicalFileSystem calls `CallContextServiceLocator.Locator` to get the `IApplicationEnvironment.ApplicationBasePath`.  CallContextServiceLocator breaks Razor on desktop.

This service resolve should be done by the caller (StaticFiles middleware) so we don't have to use CallContextServiceLocator internally.

@pranavkm

[2014-09-12 01:58] Eilon opened #18 "Need support for monitoring file system changes (i.e. IFileSystemWatcher)"
Moving from https://github.com/aspnet/Hosting/issues/52 because this is a file system matter.

One scenario is that components such as MVC need to know when to invalidate compilation caches for Razor files.

[2014-09-20 00:51] yishaigalatzer opened #21 "FileSystem should support traversing folders recursively"
Ala - `System.IO.Directory.EnumerateFiles(path, "*.*", SearchOption.AllDirectories)`

[2014-10-20 22:25] #17 closed, assigned to Tratcher

[2014-11-25 23:33] Praburaj opened #22 "Remove the check for Restricted file names"
https://github.com/aspnet/FileSystem/blob/dev/src/Microsoft.AspNet.FileSystems/PhysicalFileSystem.cs#L16

These are file names reserved by windows. So users will not be able to create files with these names on windows. On non-Windows machines these files are not a problem.

And IIS also does not seem to make a check for these file names. We should remove check for this list as well.

@Tratcher @Gr

[2014-12-03 17:24] pranavkm opened #23 "PhysicalPath for EmbeddedResourceFileSystem is null"
I can sort of see why `PhysicalPath` is [null](https://github.com/aspnet/FileSystem/blob/dev/src/Microsoft.AspNet.FileSystems/EmbeddedResourceFileSystem.cs#L159-L162) for an EmbeddedResource, but it would be useful for a way to get to the [`Path`](https://github.com/aspnet/FileSystem/blob/dev/src/Microsoft.AspNet.FileSystems/EmbeddedResourceFileSystem.cs#L134) of a `IFileInfo` without it being tie

[2014-12-15 22:43] Praburaj opened #29 "Make WriteContent of IFileInfo interface take in a Stream"
Currently it takes in a `byte[]`. Its not helpful if one want to write large amounts of data. This will also make it symmetric to the `CreateReadStream()` API.

[2014-12-15 22:55] #18 closed, assigned to nobody

[2014-12-17 21:50] Praburaj opened #30 "Make IFileSystem actions GetFileInfo, GetDirectoryContents async"

[2014-12-29 17:49] #9 closed, assigned to nobody

[2014-12-29 21:11] #6 closed, assigned to nobody

[2015-01-13 22:32] Praburaj opened #34 "Triggers are not raised for files under a directory if directory is soft-deleted"
For example there is a directory `dir1` under `root` and there are files under `dir1` and there are triggers on these files. When `dir1` is soft-deleted (pressing `del` key - not `shift-del`), file delete events are not triggered for these files. We need a way to handle this.

[2015-01-20 00:13] Tratcher commented on #4
*Provider
Ms.Aspnet.FileProviders
IFileProvider
PhysicalFileProvider
EmbeddedFileProvider

[2015-01-20 00:32] Tratcher commented on #4
@davidfowl @Eilon do you also want to rename the repo?

[2015-01-20 00:34] Eilon commented on #4
Renaming the repo :frowning: Maybe eventually. GitHub does automatically do redirects for such renames but I'm not sure if it redirects for scenarios like cloning, etc. I'm fine waiting for some future time where we'd rename this along with other stuff...

[2015-01-20 17:47] Tratcher commented on #4
@Eilon  Github is now gracefully redirecting for repo renames. See http://github.com/aspnet/kvm

[2015-01-20 19:32] Eilon commented on #4
Yeah I just saw that earlier... I'm fine with renaming it. Just let me know when (because we have to update Universe, CIs, etc.).

[2015-01-20 19:34] Tratcher commented on #4
Whenever you're ready. It won't impact my MVC fixes.

[2015-01-20 22:35] Eilon commented on #4
Done.

[2015-01-21 23:01] glennc opened #37 "Remove RestrictedFileNames checks"
A unit test should be created to test that nothing causes problems. The IO layer will protect us from what it is trying to achieve.

// @blowdart

[2015-01-21 23:02] glennc opened #38 "Make sure that EnsureTrailingSlash works on non-windows platforms"
EnsureTrailingSlash needs to add the correct slash to the end of the path for the OS.

[2015-01-21 23:06] glennc opened #39 "GetFullPath should use concatenation"
GetFullPath can concatenate instead of doing Path.Combine. This saves us from situations where Path.Combine will ignore part of the provided path if it is rooted.

Method should fail if someone is asking for a rooted file. Once this is done then GetFileInfo can also have unnecessary guard clauses removed.

// @blowdart

[2015-01-21 23:07] glennc opened #40 "Consider changing IsRooted to IsUnderneathRoot"

[2015-01-21 23:08] glennc opened #41 "Make IFileProvider ReadOnly all the time"
FileProviders should all be read only all the time, remove write methods and IsReadOnly flag.

[2015-01-21 23:09] glennc opened #42 "Remove exists check from GetFileInfo"
GetFileInfo shouldn't check if the file exists.

Instead return a FileInfo, whose Exists property will be false. We don't need to return a NotFoundFileInfo.

[2015-01-21 23:11] glennc opened #43 "Improve cancellation token utils"
Examples of this are in the Helios and SignalR codebase.

[2015-01-21 23:12] glennc opened #44 "Implement error event handler on file watcher"
We listen for error events and assume that on an error * has changed.

[2015-01-21 23:14] glennc opened #45 "Share file watcher across fileprovider implementations"
You cannot create very many instances of FileSystemWatcher before Windows will start to only return error notifications.

This could be a problem if developers start to new up many instances of FileProviders, We could remove this problem by sharing the actual FileSystemWatcher across any implementations. This is the approach we use in System.Web.

[2015-01-21 23:16] glennc opened #46 "PhysicalFileWatcher shouldn't use newLocation.Replace"
In the OnRenamed event of the PhysicalFileSystemWatcher class we should just use substring and ensure that slashes are correct for all operating systems.

[2015-01-21 23:17] glennc opened #47 "IsDirectoryPath doesn't handle just '/'"
Just a slash is a valid path in some operating systems. But our check of length > 1 doesn't allow this.

Perhaps check should just be that it ends in a directory separator?

[2015-01-21 23:18] glennc opened #48 "Consider EmbeddedFileSystem becoming its own NuGet package"

[2015-01-21 23:19] glennc opened #49 "Implement CombinedFileSystemProvider"
The CombinedFileSystemProvider would accept multiple FileSystemProviders and return files if they exist in one of them.

[2015-01-22 18:19] glennc opened #51 "Need to make sure that we don't return hidden files"
Files starting with . or with the hidden attribute for example.

[2015-01-24 05:27] davidfowl commented on #51
Why?

[2015-01-26 16:23] #4 closed

[2015-01-26 17:31] Praburaj commented on #51
This was out of the security review discussion.

[2015-02-03 19:37] #51 closed

[2015-02-06 02:07] DamianEdwards opened #57 "Update Matcher and its abstractions to remove the bits not actually needed"
Parts of `Matcher` and its abstractions (e.g. `DirectoryInfoBase`) were written to support more functionality that it turns out we don't need, e.g. listing files in a directory with a pattern. We should remove the unneeded bits as they're incompatible with `IFileProvider` and not needed anyway.

[2015-02-08 00:37] DamianEdwards commented on #57
There's an implementation using `IFileProvider` of the abstractions `Matcher` uses at https://github.com/aspnet/Mvc/blob/LinkTagHelperGlobbing-1581/src/Microsoft.AspNet.Mvc.TagHelpers/Internal/FileProviderGlobbingDirectory.cs

[2015-02-12 19:41] DamianEdwards opened #60 "Make Matcher easier to test"
`Matcher` currently is hard to use in other types in a way that makes those types testable, as you can't observe the current state of the `Matcher` (e.g. what patterns are active via properties), you can't mock it (because the members aren't virtual), and you can't substitute the `Matcher` completely without wrapping it which seems like overkill given it's in our codebase.

Perhaps we can make the

[2015-02-12 19:43] davidfowl commented on #60
Can you give an example?

[2015-02-12 21:06] troydai commented on #60
@davidfowl Here's my understanding: For @DamianEdwards to unit test a component which uses the `Matcher` is difficult because the `Matcher` is none extensible. Therefore you can't mock it.

This is a good point. Given that almost or the other components in `FileSystemGlobbing` are mockable, the `Matcher`'s testability looks odd. I believe the solution is to either introduce a `IMatcher` interface.

[2015-02-13 10:57] Mpdreamz opened #62 "FileSystemGlobbing documentation"
This looks pretty rad:

https://github.com/aspnet/FileSystem/tree/dev/src/Microsoft.Framework.FileSystemGlobbing

But lacks documentation (a simple readme.md would suffice).

Feature wise it should be on par with https://github.com/isaacs/minimatch/ which is what most npm modules use for globbing.

Many of the supported globbing options in @editorconfig for instance follow the same feature set of

[2015-02-17 00:22] troydai commented on #60
Fixed in ff1f436dc5457f2aa2f520806f23d9356a09b4ac

[2015-02-17 00:22] #60 closed

[2015-02-20 00:56] troydai commented on #57
https://github.com/aspnet/FileSystem/commit/3a00f0b05b163120a66ea6a1ec048aee34451dbd

[2015-02-20 00:56] #57 closed

[2015-02-20 23:24] DamianEdwards opened #67 "Support optional sets in globbing patterns, e.g. {js,min.js}"
Add support to the `Matcher` for globbing patterns containing `{}` comma-separated lists of "OR" patterns. This would be really useful in the Tag Helper case for including files with similar, but different, extensions, or segments.

See http://gruntjs.com/configuring-tasks#globbing-patterns

[2015-03-10 05:42] danroth27 opened #71 "Support exclusion syntax with globbing"
See https://github.com/aspnet/Home/issues/248.

Can we support ! for exclusion?:

[code]

[2015-03-13 06:07] am11 commented on #62
There is an implementation of `minimatch` in C# by @SLaks: https://github.com/slaks/minimatch. It is well tested, and all the `minimatch` rules in their documentation applies.

Perhaps AspNet team can make use it?

[2015-03-13 06:08] xtianus79 opened #74 "Custom Exclusion - bower_components and Node_modules are excluded - how to exclude more?"
1) How is bower_components excluded exactly? I tried renaming it in project.json but didn't change the behavior
2) How to exclude myfolder in src/project_name/
3) Why don't we have Exclude option when we right click in solution explorer

[2015-03-13 08:09] davidfowl commented on #74
This is in the wrong place. Can you file this bug on the Home repository.

[2015-03-13 08:09] #74 closed

[2015-03-13 08:11] davidfowl commented on #62
Not likely, this library was written for a few reasons.

- Regex is slow, we don't want it
- We're very performance sensitive includes and excludes need to be evaluated folder by folder (so we don't enumerate the exclude to figure out what to exclude).

[2015-03-13 08:40] xtianus79 commented on #74
filesystem seems like a logical choose no?

[2015-03-13 11:42] am11 commented on #74
@davidfowl, there are also other exclude related issues opened in this repo, which were redirected from Home repo. For instance #71.

[2015-03-13 16:57] xtianus79 commented on #71
Yea how is this not the similar issue as I posted. Keep in mind Node's insane packaging systems that run deep and present problems in deleting and loading projects into visual studio projects.

[2015-03-16 17:56] Praburaj opened #75 "Review if a package description is required for these packages"
[code]

[2015-03-17 00:07] Praburaj commented on #22
Dupe of https://github.com/aspnet/FileSystem/issues/37

[2015-03-17 00:07] #22 closed

[2015-03-17 00:11] Praburaj commented on #37
@glennc @blowdart what do we want to verify in the unit test?

[2015-03-17 00:13] blowdart commented on #37
Hmm, nothing really. Not sure what we can test here.

[2015-03-17 00:14] Praburaj commented on #37
sounds good. Let me send a PR.

[2015-03-17 17:57] Praburaj commented on #48
Microsoft.AspNet.FileProviders (common stuff between providers - this contains implementation of `NoopTrigger`, `EnumerableDirectoryContents`, `NotFoundDirectoryContents` and `NotFoundFileInfo` etc..)
Microsoft.AspNet.FileProviders.Physical
Microsoft.AspNet.FileProviders.Embedded
Microsoft.AspNet.FileProviders.Interfaces

[2015-03-17 22:49] #40 closed

[2015-03-17 22:49] Praburaj commented on #40
https://github.com/aspnet/FileSystem/commit/ec74b1131e90663ea525d8a5ce8453de53248158

[2015-03-17 23:17] Praburaj commented on #37
https://github.com/aspnet/FileSystem/commit/ee72e744ffa8294b7e7caa9a99052da363e5ddea

[2015-03-17 23:17] #37 closed

[2015-03-17 23:19] #46 closed

[2015-03-17 23:31] Praburaj commented on #44
https://github.com/aspnet/FileSystem/commit/7ef9d035875354f5e885436c223536c34ff3fda8

[2015-03-17 23:31] #44 closed

[2015-03-20 17:59] #41 closed

[2015-03-20 18:02] #42 closed

[2015-03-21 00:57] hishamco commented on #29
@Praburaj Regarding the issue #41 this issue should be mark as "Closed"

[2015-03-21 02:32] Praburaj commented on #29
@hishamco thanks 😊.

[2015-03-21 02:32] #29 closed

[2015-03-21 21:06] hishamco commented on #30
@Praburaj I don't think that GetFileInfo will take much time, but i'm with you that GetDirectoryContents should be async

[2015-03-23 17:06] victorhurdugaci opened #86 "Globbing patterns can be really hard to debug"
If you have this in project.json you'll notice that the whatever you have in `compileExclude` doesn't work.

[code]

Can you figure out why the `Designer.cs` is not excluded? It took me and @troydai 10 minutes.

Still couldn't figure it out?

Look at the two strings `OldCsharp` and `OldCSharp`. Figured it out?

If the two patterns don't have the same case-ing, they don't work.

[2015-03-26 22:34] troydai opened #88 "Directory comparing on is not case-sensitive"
The file globbing is designed to compare paths in case-sensitive.

The problem is caused by this line:
https://github.com/aspnet/FileSystem/blob/dev/src/Microsoft.Framework.FileSystemGlobbing/Abstractions/DirectoryInfoWrapper.cs#L49

By creating a `DirectoryInfoBase` using the literal value, it will always using the matching path segment.

[2015-03-28 14:11] hishamco commented on #23
@pranavkm i'm agree with you that it will be nice to get to the Path of ```IFileInfo``` without it being ties to a PhysicalFileSytem, but instead of adding an extra property Path in ```IFileInfo``` I suggest to rename ```IFileInfo.PhysicalPath``` to ```IFileInfo.Path``` which is represent the physical path in ```PhysicalFileSystem```, relative path in ```EmbeddedResourceFileSystem```, resource pat

[2015-04-06 17:21] troydai opened #96 "FileSystem tests failing on *nix"

[2015-04-06 17:21] troydai commented on #96
/cc @muratg

[2015-04-06 20:47] troydai commented on #96
Assign to @Praburaj since you're fixing the travis CI

[2015-04-06 20:49] Praburaj commented on #96
This is fixed now.

[2015-04-06 20:49] #96 closed

[2015-04-07 08:31] troydai commented on #88
/cc @muratg please triage.

[2015-04-09 17:34] troydai commented on #88
Fixed

[2015-04-09 17:34] #88 closed

[2015-04-15 19:03] Praburaj commented on #75
Fixed.

[2015-04-15 19:03] #75 closed

[2015-04-23 18:25] Eilon opened #101 "Get all the unit tests running on CoreCLR"
The main blocker right now might mean removing the dependency on Shoudly, but there could be other issues.

[2015-04-25 06:41] Eilon commented on #101
Fixed in e50b4919967d997e2f222cd367f3ceb257b75e0d.

[2015-04-25 06:41] #101 closed

[2015-04-26 06:44] davidfowl opened #104 "Decide on handling path starting with / on *nix"
It's a broken assumption since absolute paths on *nix can start with `/`

[2015-04-26 16:14] tugberkugurlu commented on #30
:+1:

I am trying to implement Azure Blob storage on top for this and it would be great to have `async` methods. I also think that `IFileInfo.Exists` should be a `Task<bool>` returning method, not a property.

[2015-04-26 17:28] Eilon commented on #104
@davidfowl we talked in theory about swapping these two checks: https://github.com/aspnet/FileSystem/blob/dev/src/Microsoft.AspNet.FileProviders.Physical/PhysicalFileProvider.cs#L85-L94

However, I don't think that's right either. The real problem is that on Windows it's easy to tell the difference between a volume-rooted path (`C:\...`) and an absolute path (`\foo\bar`), and on *nix there's no wa

[2015-04-26 17:53] hishamco commented on #30
@tugberkugurlu i don't think that the ```Exists``` property should be async

[2015-04-26 18:03] davidfowl commented on #104
I think we have to drop this behavior completely.

[2015-04-26 19:08] tugberkugurlu commented on #30
@hishamco depends on the purpose of this abstraction library. In my case, I need to make an HTTP call to figure out if the resource exists, which is a perfect fit for async.

[2015-04-27 16:47] #48 closed

[2015-04-29 23:13] muratg opened #105 "Pkg rename: Microsoft.AspNet.FileProviders.Interfaces -> Microsoft.AspNet.FileProviders.Abstractions"
See https://github.com/aspnet/Announcements/issues/8#issuecomment-97566113

[2015-04-30 00:07] BrennanConroy commented on #105
https://github.com/aspnet/FileSystem/commit/7f693ac5cf4ad8b8a3c097cb55b196570fca673e

[2015-04-30 00:07] #105 closed

[2015-04-30 16:53] blowdart opened #106 "Add timeout values to all regex expressions"
To avoid regex attacks add a time-out value to every regular expression in the code base.

[2015-05-06 17:34] muratg commented on #30
@davidfowl do we want this?

[2015-05-06 17:40] davidfowl commented on #30
I don't think so. This isn't a generic file system abstraction. A blog storage implementation would be pretty weird.

[2015-05-06 18:11] muratg opened #107 "Pkg rename: Microsoft.AspNet.FileProviders.Common -> Microsoft.AspNet.FileProviders.Sources"

[2015-05-06 20:58] hishamco commented on #30
@davidfowl I'm agree with you what you said before, nothing but if we have a file system directory that contains nested directories and files, the ```GetDirectoryContentsAsync``` will be very helpful in such situation

[2015-05-07 17:05] troydai commented on #107
Fixed in 3eef64e783e8af00c9c46ada0543e38d757361d4

[2015-05-07 17:05] #107 closed

[2015-05-08 10:32] hishamco commented on #47
@glennc Can you close this?

[2015-05-08 15:22] troydai commented on #47
Fixed in a2a6b9096c03ebbf356590944633343719d6aa0a

[2015-05-08 15:22] #47 closed

[2015-05-10 15:40] mdekrey opened #108 "Named file providers"
I believe it would be beneficial to name File Providers.

**Implementation:**
This could be accomplished by adding the properties to the interface for the `IFileProvider`:

[code]

Since `IFileProvider`s don't currently use the `OptionsModel`, I would implement them as:

[code]

Most users would not need to change their use of the framework.  If this is an acceptable change, I'd be happy to provid

[2015-05-11 17:40] mdekrey commented on #30
I guess I'm not sure why the `FileSystem` repository wouldn't be a generic (read-only) file system abstraction.

I'd also appreciate `async` on the file system methods. Instances off the top of my head where this might be relevant:

* Network storage (whether NAS, SAN, Azure Blob Storage, or Amazon Cloud, or something more exotic)
* Globbed files (compressed storage such that the directory tree is

[2015-05-22 17:47] luisrudge commented on #30
:+1:  for the asynt methods :)

[2015-06-25 08:27] csunali opened #111 "Having NotFoundFileInfo as public"
The NotFoundFileInfo class was previously public. It is however set to be internal in recent releases.

The class is extremely useful when implementing a custom file provider since any custom file provider being developed would naturally have to handle non-existing files.

It is easy to implement a custom NotFoundFileInfo class but that leads to unnecessary/duplicate code.

Thus, I would like to a

[2015-06-25 21:35] troydai opened #112 "Test case failed on Linux: Microsoft.AspNet.FileProviders.PhysicalFileProviderTests.ModifyContent_And_Delete_File_Succeeds_And_Callsback_Registered_Triggers"
[code]

[2015-06-29 17:45] muratg commented on #111
@Tratcher Was there a specific reason to make `NotFoundFileInfo`, `NotFoundDirectoryContents` etc  `Internal`?

[2015-06-29 18:04] Tratcher commented on #111
Ask @loudej

[2015-06-30 15:41] muratg commented on #111
@loudej @lodejard @davidfowl

[2015-07-02 03:44] davidfowl commented on #111
Those types are in a .Sources package which is meant to be helper code referenced by your project and internalized. We don't currently publish .Sources packages to nuget.org but it should be possible to reference them via our myget feed

[2015-07-03 10:58] IRooc opened #113 "System.ArgumentNullException on coreclr linux, for dnu build on project.json with embedded items"
For the following project.json:
[code]
with the following program (which does not matter because the build failes on the project.json itself)
[code]

when calling dnu build on linux (ubuntu 14.04 lts) for framework **1.0.0-beta6-12170 coreclr x64** the following exception is thrown:

[code]

it works fine in the MONO version, and on windows for full and coreclr

[2015-07-03 11:48] davidfowl commented on #113
file this on the dnx repository

[2015-07-03 11:48] #113 closed

[2015-07-07 17:42] muratg commented on #112
@troydai does it look like a product bug or a test issue only?

[2015-07-07 20:32] troydai commented on #112
I didn't look into this yet. I'll assign it to myself.

[2015-07-07 21:19] troydai commented on #112
Can't repo on latest build. Close.

[2015-07-07 21:19] #112 closed

[2015-07-09 15:28] csunali commented on #111
If I don't get you wrong, you mean that I should reference the mentioned classes using the .Sources packages directly and use the classes as if they were directly developed within my own projects.

Can you please confirm?

Thank you.

[2015-07-15 10:13] davidfowl commented on #16
@pranavkm was this fixed?

[2015-07-15 16:47] pranavkm commented on #16
Looking at https://github.com/aspnet/FileSystem/blob/dev/src/Microsoft.AspNet.FileProviders.Physical/PhysicalFileProvider.cs#L56-L59, presumably not.

[2015-07-15 16:49] pranavkm commented on #16
Looking at the code, this might be one of the problematic scenarios:

`var result = new PhysicalFileSystem("/foo/bar").GetDirectoryContents("/Foo/bar");`

Expected: `NotFoundDirectoryContents`
Actual: Returns results under `/Foo/bar`

[2015-07-16 13:05] kichalla opened #114 "Provide a composite file provider type"
I am not sure if its intentional, but I see in few places where we accept a single file provider instance.

https://github.com/aspnet/StaticFiles/blob/dev/src/Microsoft.AspNet.StaticFiles/Infrastructure/SharedOptions.cs#L44
https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.Razor/RazorViewEngineOptions.cs#L31

If I have files from multiple sources(ex: physical and embedded), is it exp

[2015-07-16 13:07] kichalla commented on #114
Ah, so looks like this is a dupe of https://github.com/aspnet/FileSystem/issues/49

[2015-07-16 13:07] #114 closed

[2015-07-16 13:11] kichalla commented on #49
@muratg Fixing this issue can help in fixing https://github.com/aspnet/Diagnostics/issues/157 where razor files could be(as MVC gives this option) coming from physical or embedded resources

cc @davidfowl

[2015-07-16 13:22] kichalla commented on #49
Actually ignore my previous comment, the fix for aspnet/Diagnostics#157 is not dependent on fixing this issue...but from an end user perspective would be nice to have..

[2015-07-16 17:57] muratg commented on #21
@Eilon Do you care about this?  Putting in 1.0.0 backlog for now.

[2015-07-18 03:11] giggio opened #115 "Fix PathTooLongException while watching a directory which just ran npm install"
If you leave dnx running, let's say `dnx . web`, and `npm install`, you are likely to get a `PathTooLongException`. Here is the stack trace:

[code]

[2015-07-20 17:27] Eilon commented on #21
1.0.0 backlog is fine. We're redesigning precompilation anyway so it's not certain that this feature will matter in the new design.

[2015-07-21 01:05] moozzyk opened #116 "`PhysicalFileProvider.GetFileInfo(".")` returns `NotFoundFileInfo`"
This is because Path.GetFullPath(".") returns the path without the trailing slash and we check if the path is under the root using `.StartsWith()` again the `Root` which does contain trailing slash.

[2015-07-22 20:04] stuartleeks commented on #111
+1 on this question. I am just updating some code from an earlier version to beta5 and was using the NotFoundDirectoryContents and NotFoundFileInfo in my custom file provider. What is the expected way to handle this? I'd rather not duplicate these classes in my own code :-)

[2015-07-22 21:32] muratg commented on #111
.Sources packages are not published.  @davidfowl it looks like these would potentially be useful to some folks who are implementing custom file providers. We should consider bringing them back and making them public.

[2015-07-23 17:32] troydai opened #117 "Allow user to choose between case sensitive and case insensitive."

[2015-07-23 17:32] troydai commented on #117
Fixed in:
https://github.com/aspnet/FileSystem/commit/1959ead87e0482b12ed1008ff23220c276447099

[2015-07-23 17:32] #117 closed

[2015-07-23 17:32] troydai commented on #117
/cc @danroth27 @muratg

Adding this issue for better document.

[2015-07-29 21:56] ChengTian opened #118 "Support globbing directories in addition to files"
Today we only support globbing files given some patterns. We should allow globbing directories as well.

Sample usage:

[code]

and it turns something like
`[ "solutionRoot/submodules/FileSystem/src", "solutionRoot/submodules/NuGet/src"]`

This is useful in certain scenarios like project resolution.

/cc @troydai

[2015-08-05 16:45] pranavkm commented on #49
Need this for https://github.com/aspnet/Mvc/issues/2551

[2015-08-11 22:02] #106 closed

[2015-08-14 00:18] ChengTian commented on #118
My beta8 issue https://github.com/aspnet/dnx/issues/2352 depends on this. Assigning to myself.

[2015-08-20 17:38] Agiclaw commented on #111
+1, Please just change back to public. I was also implementing custom providers...

[2015-08-28 19:49] anurse opened #121 "Discussion: Globbing now returns stems"
Discussion thread for https://github.com/aspnet/Announcements/issues/58

[2015-09-02 17:26] glennc commented on #49
This is backlog for now. If it is definitely needed for MVC then come talk to us.

[2015-09-04 08:52] IRooc opened #122 "beta7: embedded files > 4100bytes on linux throw BadImageFormatException"
When I embed a file that is larger than 4100bytes on linux (Ubuntu) it throws an BadImageFormatException, I'm running ubuntu 14.04 tls.

reprosteps, create test.txt larger than 4100 bytes
project.json:
[code]
then create this Program.cs
[code]
if the test.txt file is smaller than 4100 bytes the program runs fine and shows the content, when it's larger than 4100 bytes the following stacktrace is sh

[2015-09-04 08:55] davidfowl commented on #122
I'm not sure this bug belongs in FileSystem but:

- Can you try the same on windows?
- Also can you provide more details about what versions of things you are using?
  - Is it mono or CoreCLR?
  - You said beta7 but it looks like you're using `1.0.0-*` in your project.json so could you go into the `project.lock.json` and see what the exact version numbers are?

[2015-09-04 09:04] IRooc commented on #122
Hi yeah it is on 1.0.0-beta7 coreclr x64

The -* for embedded was beta7 in my linux virtual machine, just copied the windows one that was working, change to :
[code]

The same code works fine on Windows and Mac.

[2015-09-04 09:06] IRooc commented on #122
the project.lock.json:
[code]

[2015-09-08 17:12] muratg commented on #62
@Mpdreamz There's some documentation and examples of usage [here](http://docs.asp.net/en/latest/dnx/projects.html).

[2015-09-08 17:12] #62 closed

[2015-09-09 09:18] IRooc commented on #122
Moved to: https://github.com/aspnet/dnx/issues/2661

[2015-09-09 09:18] #122 closed

[2015-09-10 10:19] davidfowl opened #123 "IFileProvider.Watch feels like a mismatch"
Is file watching really something we want to bolt on to this interface? It feels like we should offer this via another API. Also only PhysicalFileProvder has a reasonable implementation for it.

/cc @pranavkm @lodejard @kichalla

[2015-09-10 15:42] muratg commented on #123
@victorhurdugaci

[2015-09-10 16:23] pranavkm commented on #123
Do you have an alternative? If we create a separate `IFileWatcher`, it'll need to know the behavior of the underlying `IFIleProvider` - for instance the embedded one would never fire like you noted.

[2015-09-15 17:15] muratg commented on #123
Does this one need a design discussion @davidfowl?

[2015-09-15 23:56] natemcmaster opened #124 "Intermittent test failures"
Over the last month, `PhysicalFileProviderTests.ModifyContent_And_Delete_File_Succeeds_And_Callsback_Registered_Triggers` has failed on CI on 5 of 30 runs. Failures all have the same error message:

[code]

[2015-09-17 16:58] pranavkm commented on #123
Offline discussion with @loudej and @davidfowl on this was inconclusive. The one issue that came out of the discussion was that it felt that `IExpirationTrigger` being located in `Microsoft.Framework.Caching.Abstractions` seems like wrong layering. Tracking that as part of https://github.com/aspnet/Caching/issues/108.

Unless folks feel very strong about this, we could close this work item.

[2015-09-17 17:02] victorhurdugaci commented on #123
Yeah, close it :) I am heavily using this in dnx-watch

[2015-09-17 17:03] davidfowl commented on #123
@victorhurdugaci If you're using this in DNX watch then something is busted. Source files can be outside of the `IFileProvider` root. That's exactly the opposite of what this API is supposed to do.

[2015-09-17 17:04] victorhurdugaci commented on #123
I have multiple providers

[2015-09-17 17:05] davidfowl commented on #123
Ugh

[2015-09-17 17:05] #123 closed

[2015-09-24 17:20] muratg commented on #16
Are we doing this? Priority for RC1?

[2015-09-30 06:19] Eilon opened #127 "Rename Microsoft.Framework.* to Microsoft.Extensions.*"
Need to rename assemblies and namespaces from `Microsoft.Framework.*` to `Microsoft.Extensions.*`.

Once the change is committed, please post an issue in the https://github.com/aspnet/Announcements/issues/ repo that links back to this issue.

[2015-10-04 14:22] pranavkm commented on #127
2a8225f94671cf2f7f5df23ade3172d51a42bdb0

[2015-10-04 14:22] #127 closed

[2015-10-08 06:52] mnguyen284 opened #129 "EmbeddedFileProvider cannot load embedded _ViewStart and _ViewImports"
In GetFileInfo function, we replaced '/' with '.' to create resourcePath.

[code]

However, when requesting _ViewStart and _ViewImports subpath comes with '\' instead of '/' causing resourcePath to be incorrect.

My suggestion is to replace both '/' and '\' with '.'.

[2015-10-08 07:20] mnguyen284 opened #130 "Enhancement for file providers"
EmbeddedFileProvider is great for supporting modular programming. We will be able to develop a Blog component that comes with controllers and views and just plug it in a website.

However, because RazorViewEngine only supports 1 file provider, the engine cannot load both views from both plugged in component (embedded) and main website (which are physical files).

Moreover, we don't have a chance t

[2015-10-08 07:35] davidfowl commented on #130
Sure it can, you just need to wrap the 2 file providers you want.

This sounds like it could be a great pull request. Why don't you file a separate issue for that one (and potentially start work on it :smile: )

[2015-10-08 07:49] mnguyen284 commented on #130
@davidfowl Thanks for your respond. May I ask what did you mean by wrapping the 2 file providers? Was it creating a custom provider that contains both of them?

I'll try with the option you suggested. Just figuring out the method to pass multiple assemblies and base namespaces to the constructor. Should I use DI and creating an EmbeddedFileProviderOptions class?

[2015-10-08 07:59] davidfowl commented on #130
Yep. It's basically what you suggested.

`new UberFileProvider(defaultProvider, embeddedProvider)`

[2015-10-08 08:52] mnguyen284 opened #131 "Enhance EmbeddedFileProvider to support multiple assemblies and can be overridden by physical files."
As suggested by @davidfowl I'm opening an issue to make some enhancements to EmbeddedFileProvider

1. Embedded views can be loaded from multiple assemblies.
2. Embedded views can be overridden by ~~physical file views~~ MVC's default or a specified provider.
3. List of assemblies and base namespaces, and ~~physical files root~~ default provider are configured via new EmbeddedFileProviderOptions cl

[2015-10-08 19:15] Eilon commented on #129
@pranavkm do you know if this is more of an MVC issue or a FileSystem issue?

[2015-10-08 21:30] pranavkm commented on #129
Let me run this by @loudej to see what he thinks about this. It's fine for the EmbeddedFileSystem to only support `/` path separators - the problem is that it doesn't work well with paths generated using `Path.Combine` on windows.

On Mvc's end we can do a better job and construct these paths using forward slashes. It's on @rynowak's radar since Path.Combine allocates too much and we don't need to

[2015-10-12 06:00] mnguyen284 commented on #131
Hi @davidfowl,

I have completed implementation, unit test will be pushed soon. Do I need to let you have a look at it before making a pull request?

Thanks,
Minh

[2015-10-12 07:24] MartinJohns commented on #131
Wouldn't it make more sense to implement #49 instead of this? With #49 you could just create a combined provider, which receives the Physical one first, and the embedded as a second provider. That would keep the separation and the code of the embedded provider more clean.

[2015-10-13 04:39] dougbu opened #132 "`PhysicalFilesWatcher` and `PhysicalFileProvider` should implement `IDisposable`"
`PhysicalFilesWatcher` holds system resources in its `FileSystemWatcher` field. But `PhysicalFilesWatcher` and the (`public`) `PhysicalFileProvider` class containing the watcher do not implement `IDisposable`. System resources are therefore not released until finalization.

[2015-10-14 07:23] mnguyen284 commented on #131
I actually prefer `CombinedFileSystemProvider` approach. That would be a general solution for any provider. However, without being able to support multiple assemblies and can be overridden by a default provider, the usage of `EmbeddedFileProvider` is very limited. This might be why @davidfowl suggested me to go with this option in #130.

With current implementation, all views for a website must co

[2015-10-14 07:27] MartinJohns commented on #131
With the `CombinedFileSystemProvider` approach you could also just specify multiple `EmbeddedFileProvider` for different assemblies. I'm unsure which approach I would choose. Having multiple `EmbeddedFileProvider` seems like the cleaner approach, but having one `EmbeddedFileProvider` for multiple assemblies is an easier-to-use approach.

[2015-10-14 07:54] davidfowl commented on #131
Yea I wasn't suggesting to change EmbeddedFileProvider to have an IFileProvider fallback, that's weird. CombinedFileProvider is what you want plus the ability to use multiple assemblies for embedded resources (potentially).

[2015-10-14 07:56] mnguyen284 commented on #131
Sounds reasonable. I have assumed that `EmbeddedFileProvider` would be useless without the ability to be overridden, which can be wrong. I still prefer having a provider that supports the scenario above but I can always make it a project based custom provider if I really need it. My remaining concern is that without `CombinedFileSystemProvider` `EmbeddedFileProvider` seems quite useless. So how sh

[2015-10-14 08:02] davidfowl commented on #131
I think you should file an issue on the MVC repository and call out the specific use cases before adding a generic `CombinedFileSystemProvider` to this repository.

[2015-10-14 23:07] #129 closed

[2015-10-16 18:01] vncastanheira commented on #131
I've been using a custom IFileProvider for multiple assemblies and it worked fine until beta5.
It was nothing more than a modified EmbeddedFileProvider that checked a list of assemblies instead of one.

[2015-10-19 18:13] cesarbs opened #134 "Microsoft.AspNet.FileProviders.Physical.Tests tests fail on CoreCLR on Linux"
info: Exec
    info:   program: /usr/bin/env
    info:   commandline: bash -c ". \"/home/cesars/src/aspnet/universe/FileSystem/packages/KoreBuild/build/dnvm.sh\"; dnvm run default -runtime coreclr test"
    info:   workingdir: test/Microsoft.AspNet.FileProviders.Physical.Tests
    xUnit.net DNX Runner (64-bit DNXCore 5.0)
      Discovering: Microsoft.AspNet.FileProviders.Physical.Tests
      Disco

[2015-10-19 19:38] cesarbs commented on #134
This affects https://github.com/aspnet/Universe/issues/304.

[2015-10-20 17:40] muratg commented on #134
@cesarbs Can you do the initial investigation?

[2015-10-20 17:42] muratg commented on #131
Putting this in 1.0.0-backlog.  Please link to any MVC bug that you may open for specific use cases.

[2015-10-20 17:43] muratg commented on #132
@dougbu Was this a CR find, or were you investigating some leak?

[2015-10-20 17:44] muratg commented on #130
Closing this one as it looks like #131 tracks the work.

[2015-10-20 17:44] #130 closed

[2015-10-20 17:47] muratg commented on #111
As we're not currently planning to bring these back, current suggestion is to use the .Sources packages directly from MyGet, or from the repo.  Closing this one.

[2015-10-20 17:47] #111 closed

[2015-10-20 18:13] dougbu commented on #132
Found this when investigating file system limits hit (aka `FileSystemWatcher` leaks) doing functional testing w/ DNX Core on Linux. We realized our use of `TestServer` was a mess for other reasons and moved those tests to use an xUnit fixture. That minimized our `TestServer` count enough for testing in this environment. But not all `PhysicalFileProvider` instances are pinned by the server so custo

[2015-10-20 21:34] cesarbs commented on #104
This somehow. affects https://github.com/aspnet/Universe/issues/304. I had to disable a unit test on *nix which ideally should be run on that platform. However the test gets incorrect results because of the way "/" is being treated.

[2015-10-21 00:21] #134 closed

[2015-10-27 17:23] Antaris commented on #131
I've been designing a composite file provider which takes a set of ordered file providers and returns the first file instance that exists. My use case here is I am developing a CMS based on ASP.NET and for my modules I am deploying resources such as views, scripts, images etc. as embedded resources. I want to enable scenarios whereby if we want to customise a particular resource, we can bring that

[2015-10-29 16:07] Tratcher opened #137 "NotSupportedException for URLs with special characters"
Moved from http://katanaproject.codeplex.com/workitem/430

The static file middleware raises an exception when the input URL contains a character that is valid for HTTP but not authorized on a local path. Example: '/test:character' (note the colon).
[code]

PhysicalFileProvider.GetDirectoryContents should not throw in this scenario.

[2015-11-11 00:01] cesarbs opened #140 "Refactor PhysicalFileProvider unit tests"
See @pranavkm's comment here: https://github.com/aspnet/FileSystem/pull/139#issuecomment-155584469

[2015-11-12 08:25] jovnas opened #141 "Pass Credentials to PhysicalFileProvider?"
(In Startup.cs)

[code]
This only works if the application is running as a user with access to the share.
I believe that passing specific credentials into the PhysicalFileProvider would be the most straight forward approach. (For example, if you have to map multiple shares on different servers with different user credentials.)

(If I've missed something, please point me in the right direction and

[2015-11-12 09:24] davidfowl commented on #141
What's the usual API for doing this in .NET? What form do credentials take? Is it OS specific?

[2015-11-16 09:58] jovnas commented on #141
I'm barking up the wrong tree again, I guess...
Didn't think it through before creating this issue. My original problem is probably not related to FileSystem, but to the IisPlatformHandler. (Probably it's not even a problem there, but in my lack of knowledge about how Asp.Net5 works with IIS... See http://stackoverflow.com/questions/33253608/asp-net-5-beta8-app-with-virtual-directories-application

[2015-11-16 09:58] #141 closed

[2015-11-17 09:51] mgrosperrin commented on #49
Hi,
I'm really interested by this CombinedFileProvider.
Currently, I have my own implementation, but have to duplicate the not found file and directory (from the Microsoft.AspNet.FileProviders.Sources project).
Can I submit you a PR with this new file provider or is already someone working on it ?

[2015-11-17 15:22] pranavkm commented on #49
PR sounds great. I tried playing with this at one point and sort of dropped it because it was missing some design -

1. For GetFileInfo - does it keep querying until it finds a file?
2. For GetDirectoryContents - does it combine the results of multiple `IFileProvider` instances?

These might not be an issue if individual IFileProviders were isolated in separate hives (had to have distinct roots) b

[2015-11-19 08:37] mgrosperrin commented on #49
Hi,
OK for merging the content of multiple directories.
When I do this, should I consider that the Name property (of IFileInfo) is unique for a directory (ie when I have a file with a given name from a directory, I skip all files with the same name in the later directories)?

[2015-11-19 08:42] MartinJohns commented on #131
I would vote to close this issue as a duplicate of #49 (Implement CombinedFileSystemProvider), as the requested feature would be solved with that approach. Currently the same approach is discussed separately in two different issues, which is not beneficial for finding the best solution.

[2015-11-19 09:11] MartinJohns commented on #49
I was thinking a bit about this issue and here are my two cents:

1. `GetFileInfo`: This should iterate over all provided `IFileProvider` and return the first result where `Exists` is true. If there was no existing file found, then a `FileNotFound` class should be returned, as it is happening with all providers currently. This potentially leads to a lot of unnecessary garbage, because each provide

[2015-11-19 15:06] muratg commented on #49
Thanks, @MartinJohns.  FWIV, RC1 is already released BTW! :)

[2015-11-19 16:16] muratg commented on #137
@BrennanConroy Another repo :)

[2015-11-19 17:14] mgrosperrin commented on #49
Hi,
for the `Watch` method, I decided to create a new `IChangeToken` that "merges" all tokens.

The caller will potentially be notified for files that cannot be accessed, but I don't see how to do differently :disappointed:

[2015-11-20 19:48] pranavkm commented on #49
@mgrosperrin that sounds fine. Over expiring shouldn't be a problem. The first two bullet points from @MartinJohns sound fine.

[2015-11-23 14:18] reliak opened #143 "Modify MatcherContext so that it returns an IEnumerable"
In https://github.com/aspnet/FileSystem/blob/dev/src/Microsoft.Extensions.FileSystemGlobbing/Internal/MatcherContext.cs#L44 the `Execute` method returns a `PatternMatchingResult` object.

To better support parallel operations, it would be great to return an `IEnumerable<FilePatternMatch>` with an `yield` inside the `Execute` method. This way I can start working when the first file was found and I

[2015-11-23 17:47] muratg commented on #104
Let's reach a decision here. @davidfowl do you suggest we remove support for relative paths?

Can we just enforce a `.` in front of relative paths?  (i.e. `./foo/bar/` instead of `/foo/bar`) to differentiate it from absolute paths?

[2015-11-23 17:55] davidfowl commented on #104
No.

That's ugly. We can just not support paths that begin with /. Relative paths should just start with nothing. .e.g `foo/bar`.

[2015-11-24 11:59] reliak opened #144 "Matcher returns wrong stems"
This addresses issue https://github.com/aspnet/Announcements/issues/58

I have the following folder structure:
- root
  - subfolder
    - sub1
    - sub2
    - sub3

I wanna find all files via:
[code]
As shown below, the Stems for files in `sub2` and `sub3` are wrong.
![globissue](https://cloud.githubusercontent.com/assets/4062774/11366023/d827b936-92aa-11e5-8dec-f0d500d18d79.png)

When I use a gl

[2015-11-24 18:32] anurse commented on #144
I think I've seen this before. @muratg we should work on this for RC2.

[2015-11-24 18:57] muratg commented on #144
Agreed!

[2015-11-24 22:12] PrimeObjects opened #145 "Suggest to make NotFoundFileInfo and NoopChangeToken public"

[2015-11-25 01:46] Eilon commented on #145
Can you clarify the reason for wanting them public? Are you writing a custom file system provider? Or something else?

[2015-11-25 02:26] PrimeObjects commented on #145
I'm writing a ViewFileProvider, I hope this FileProvider can serve MVC by using view files saved in the database.

I need to return NoopChangeToken and NotFoundFileInfo like what RazorEmbeddedFileProvider did.
I want to use the one defined in .NET in my class directly.
e.g.
public IChangeToken Watch(string pattern)
        {
            return NoopChangeToken.Singleton;
        }

[2015-11-25 02:32] Eilon commented on #145
Ah, got it. So just for code re-use, which sounds fine. Just wanted to make sure it wasn't for checking equality, which would be wrong (e.g. checking `if (foo.GetType() == typeof(NoopChangeToken))` and making some decision based on that.

[2015-11-25 02:40] PrimeObjects commented on #145
thank you for reminding. I cloned the two classes into my namespace for now. if you decide to make the two classes public I should be able use them directly.

Thanks again.
Gary

[2015-11-25 18:50] muratg commented on #104
That sounds good to me.

[2015-11-25 18:51] muratg commented on #104
@pakrym this also prevents CoreCLR x-plat test runs.  Please look into this after your current item.

[2015-11-26 00:21] pranavkm commented on #104
Doesn't the `IFileProvider` root you at the rooted path? It's not meant to be a general purpose representation of the native file system.

[2015-11-26 00:35] davidfowl commented on #104
It's about what we allow in the methods. We want to fail for absolute paths.

[2015-11-26 01:12] muratg commented on #104
So do we fail on Windows for paths like C:\foo\bar as well?

[2015-11-26 01:18] davidfowl commented on #104
Yes I believe we already do

[2015-11-26 10:30] reliak opened #149 "Support for globbing in FileSystemWatcher?"
Is it planned to add globbing support to `FileSystemWatcher`?
That would be really helpful.

As an alternative, is it in the current `Microsoft.Extensions.FileSystemGlobbing` project possible, to validate whether a given filename matches a glob pattern?

[2015-12-01 21:47] pakrym commented on #104
Decided that beheviour is okay, just changing supress message.
https://github.com/aspnet/FileSystem/pull/150

[2015-12-01 22:41] muratg commented on #104
Cool, please update the bug title to reflect the decision before checking in.

[2015-12-03 17:16] #104 closed

[2015-12-03 21:54] #132 closed

[2015-12-08 18:20] muratg commented on #149
FileSystemWatcher is a CoreCLR class.  Please feel free to file an issue on https://github.com/dotnet/corefx for this request.

Your second question, we don't have this planned for V1.

[2015-12-08 18:27] muratg commented on #143
`PatternMatchingResult` has `Files` property which is an `IEnumerable<FilePatternMatch>`.

Though if you look at https://github.com/aspnet/FileSystem/blob/dev/src/Microsoft.Extensions.FileSystemGlobbing/Internal/MatcherContext.cs#L35, this is already not lazy.

Do you have any measurements to suggest a design change?

[2015-12-08 18:30] muratg commented on #115
Dotnet team is working on a fix in CoreCLR for PathTooLong issues. Unfortunately, there's not much we can do on ASP.NET side.  Closing this one.

[2015-12-08 18:30] #115 closed

[2015-12-08 18:31] muratg commented on #115
Please refer to: https://www.youtube.com/watch?v=lpa2OFauASM

[2015-12-08 18:35] reliak commented on #143
I haven't done any performance measurements, so I can't tell you whether it's worth to change the design.
But yielding a result when it's found should perform better in terms of parallelization, instead of collecting all results and then returning all at once.

[2015-12-09 18:05] #49 closed

[2015-12-10 19:32] BrennanConroy commented on #144
a6ffb85a267cdc8f5985363bfc909904650003d5

[2015-12-10 19:32] #144 closed

[2015-12-11 00:24] BrennanConroy commented on #137
158dc437a9db16405436f533f6bd428d6820bc9c

[2015-12-11 00:24] #137 closed

[2015-12-11 01:07] pranavkm opened #154 "NoOpChangeToken.RegisterChangeCallback should not throw"
Per @loudej, the intent of `ActiveChangeCallbacks` is a hint for consumers to prefer the property over callback. However `RegisterChangeCallback` should have a proper implementation and should not throw. This also affects `CompositeFileProvider` where we ignore change tokens with `ActiveChangeCallback == false`.

[2015-12-11 02:09] #140 closed

[2015-12-11 18:14] muratg commented on #131
@MartinJohns Agreed, https://github.com/aspnet/FileSystem/pull/142/files fixes this.

[2015-12-11 18:14] #131 closed

[2015-12-11 18:17] muratg commented on #116
@moozzyk Putting this to Backlog as this specific case doesn't seem that common.  Do you know if "/" or "/." would work?

[2015-12-11 18:18] muratg commented on #38
https://github.com/aspnet/FileSystem/blob/325d550fa9e04be9927547123c5dd7c55d8e127a/src/Microsoft.AspNet.FileProviders.Physical/PhysicalFileProvider.cs#L75

[2015-12-11 18:18] #38 closed

[2015-12-14 10:05] mgrosperrin opened #156 "Un-nest private implentations of IFileInfo and IDirectoryContents"
As said in https://github.com/aspnet/FileSystem/pull/142#discussion_r45883155, the private implementations of `IFileInfo` and `IDirectoryContents` should be un-nest and made public.
I can submit a PR to do it.

[2015-12-14 10:12] mgrosperrin commented on #145
Hi,
maybe we could provide a factory to create _empty_ implementation of these types (`IFileInfo`, `IDirectoryContents` and `IChangeToken`). This would protect against comparing the type (except if people do scary things like `foo.GetType() == factory.GetXXX().GetType()`) and allow reuse of the types.
I can provide you a PR to prototype it if needed (I just need a name for the project hosting the

[2015-12-14 15:45] pranavkm commented on #145
@PrimeObjects all of these packages are in the `Microsoft.AspNet.FileProviders.Sources` package. You should be able to reference them and use that.

[2015-12-14 15:46] pranavkm commented on #156
:+1: We got some of the `PhysicalFileProvider` ones made public in a recent PR. Would be nice to make the remainder public too.

[2015-12-14 16:18] mgrosperrin commented on #145
@pranavkm I have tried to do this for my composite file provider, but the `Microsoft.AspNet.FileProviders.Sources` package has not been published in the RC1 wave. Will it be published as part of RC2 (it is in the nightly) ?

[2015-12-14 16:23] pranavkm commented on #145
We don't publish any of the Sources packages to NuGet.org. You'd have to pick it up from `aspnetmaster`.

[2015-12-14 18:49] moozzyk commented on #116
@muratg I don't remember at the moment - `/` might be special cased. I am not sure if `/` is really helpful - wouldn't it go to the root of the drive? I would think people would probably be more interested to go to the approot?

[2015-12-28 20:09] muratg commented on #154
Assigning to @pranavkm to merge the PR.  Thanks @mgrosperrin for the contribution!

[2015-12-28 20:10] muratg commented on #156
@mgrosperrin Feel free to submit a PR!  Thanks

[2015-12-28 20:16] #154 closed

[2015-12-28 20:26] pranavkm commented on #156
For this change, would it make sense to move the non-primary API to a nested namespace?
For instance:

* `Microsoft.AspNet.FileProviders.PhysicalFileProvider`
* `Microsoft.AspNet.FileProviders.Physical.PhysicalDirectoryInfo` (this would match the project name).

This way we don't end up polluting the top level namespace when making the less common types public.

[2015-12-28 21:57] muratg commented on #156
Yeah, I think it makes sense. Of course it's hard to find good names for the namespace.

[2015-12-28 22:27] pranavkm commented on #156
I'll send a PR - we can discuss it as part of it.

[2015-12-29 22:45] #156 closed

[2016-01-16 00:43] natemcmaster opened #159 "Test failure on OSX/Mono"
[code]

https://travis-ci.org/aspnet/FileSystem/jobs/102491783#L1332

[2016-01-19 17:35] muratg commented on #159
Is the test disabled now for Mono?

[2016-01-21 20:37] muratg opened #160 "Move all the packages and namespaces from AspNet to Extensions in this repo"
These are not ASP.NET specific libraries, and can be used elsewhere.

Also, there's a layering issue with https://github.com/aspnet/Configuration/blob/dev/src/Microsoft.Extensions.Configuration.FileProviderExtensions/project.json#L13.

[2016-01-21 20:38] muratg commented on #160
@BrennanConroy Per @NTaylorMullen, we can do this now before the renames go in.  This will also require an Announcements post.

cc @Eilon @lodejard @davidfowl

[2016-01-21 21:04] lodejard commented on #160
Very nice

[2016-01-22 02:57] BrennanConroy commented on #160
befcc5b974d060b011efa1f7655e1ca538da601c

[2016-01-22 02:57] #160 closed

[2016-01-22 03:02] BrennanConroy opened #162 "[Discussion]: FileProviders moved to Extensions namespace"

[2016-01-22 04:52] Daniel15 commented on #162
What does "Extensions" mean in this context?

[2016-01-22 15:42] pranavkm commented on #162
It's the term we've been using for all packages that aren't primarily related to the server stack. See https://github.com/aspnet/Announcements/issues/77

[2016-02-02 18:44] muratg commented on #159
@BrennanConroy could you have a look if this is still an issue?

[2016-02-02 22:43] BrennanConroy commented on #159
I am hitting this on Mono OSX as well, but also on Linux CoreCLR

[2016-02-03 00:30] BrennanConroy commented on #159
Also this test is failing: `TokensWithForwardAndBackwardSlashesAreSame`
I think https://github.com/aspnet/FileSystem/blob/befcc5b974d060b011efa1f7655e1ca538da601c/src/Microsoft.Extensions.FileProviders.Physical/PhysicalFilesWatcher.cs#L149-L151 is wrong because it converts `\` on unix to `/`.
Is this supposed to be case insensitive matching even on unix?

[2016-02-03 05:29] muratg commented on #159
Don't remember the final decision on that one.

cc @troydai @davidfowl

[2016-02-03 21:01] troydai commented on #159
We haven't make decision in terms of `PhysicalFilesWatcher`. We did decide the globbing will be case insensitive across platform.

[2016-02-04 23:05] BrennanConroy commented on #159
@davidfowl
Could we make a decision for this?

[2016-02-14 00:07] SebastianStehle opened #164 "CompositeFileProvider has a issue with Watch"
Hi, I am using the CompositeFileProvider with multiple phyiscal paths.

The problem is  the following: The PhysicalFileProvider returns a change token, also when the file does not exits. Therefore the first provider returns a token and the if the file is provided from the another provider it will not be refreshed. I solved it in the following way, but I dont know if it is correct:

        public

[2016-02-15 00:56] pranavkm commented on #164
Doesn't the `CompositeFileChangeToken` raise a call back when any of the file provider has a change event? The ordering shouldn't matter. Might be useful if you could set up a minimal repro scenario where it doesn't work.

[2016-02-15 06:58] SebastianStehle commented on #164
Yes, this is the idea. Let me explain the issue again. Lets say you have two folders for your views:

1. App/Views
2. Plugin/Views

The providers for these folders are registered in this order. The view your are looking for only exists in the second folder. In the current implementation you would ask each provide for a change token and the first wins and returns a token (because you might add the

[2016-02-15 17:22] pranavkm commented on #164
That's not how it works: https://github.com/aspnet/FileSystem/blob/dev/src/Microsoft.Extensions.FileProviders.Composite/CompositeFileProvider.cs#L78. It should return a change token that represents the aggregate. If you're seeing otherwise, it'd be a nice to get a repro since it sounds like a bug.

[2016-02-15 17:43] SebastianStehle commented on #164
I am so confused, I dont know which Code i had a look to, probably an old version. Everything looks fine

[2016-02-15 17:43] #164 closed

[2016-02-19 15:50] Tratcher opened #166 "[Question] - IFileProvider, IFileInfo.PhysicalPath and Request Path"
_From @dazinator on February 19, 2016 15:4_

Hi People :)
I have a question about how to get the "Request Path" for a file `IFileInfo`.

The scenario is that I have a `CompositeFileProvider` that contains a bunch of physical file providers, that point to various "webroot" directories from which I allow files to be served.

The structure looks like this:

[code]

I am passing this Composite FilePro

[2016-02-19 15:50] Tratcher commented on #166
No, there is no reverse lookup mechanic.

[2016-02-19 15:58] dazinator commented on #166
Hmm.. Seems like being able to get a Request Path for a particular file from the file system should be supported in the framework?

[2016-02-19 16:00] dazinator commented on #166
To be honest I'm not sure where support for this needs to go, perhaps in the StaticFilesMiddleware? but it just seems it should be somewhere! haha

[2016-02-19 16:14] pranavkm commented on #166
Sounds like you need the values computed here - https://github.com/aspnet/StaticFiles/blob/dev/src/Microsoft.AspNetCore.StaticFiles/StaticFileMiddleware.cs#L72.

[2016-02-19 17:13] dazinator commented on #166
@pranavkm - I don't really think so, I think it's more of an API issue with the current `IFileProvider` or IFileInfo abstraction, i'll try and explain.

I don't think the Static Files Middleware needs to provide or hang on to mapped values in order to provide this context to me for a reverse lookup. Looking at the code this is basically my understanding of what's happening:

1. Static Files Middle

[2016-02-19 17:27] Tratcher commented on #166
A few notes:
- IFileInfo is immutable. A file provider may have a static list of IFileInfo instances that it keeps giving out rather than creating one per request.
- In a complex file provider there may be multiple request paths mapped to a single IFileInfo. This prevents us from putting request path as a field on IFileInfo.
- As you pointed out, there's an additional component of the request path

[2016-02-19 18:10] dazinator commented on #166
@Tratcher

Just to clarify, wherever you have said Request Path, I am assuming that is the "sub path" argument that an `IFileProvider` requires:

![image](https://cloud.githubusercontent.com/assets/3176632/13183602/942ebfda-d72f-11e5-94b7-9ab0198dd18f.png)

A few responses:

1. If it's a many to one association between a sub path, and an `IFileInfo`, the `IFileInfo` could expose an IEnumerable or

[2016-02-19 18:53] lodejard commented on #166
File providers are also intended to be able to be wrapped in a decorator pattern where the decorator can alter the path parameter being passed down. For that reason you need to assume the resulting IFileInfo will never have correct knowledge of the original path argument.

[2016-02-19 19:11] davidfowl commented on #166
@dazinator You'll need to wrap the FileProvider with your own that preserves the path.

[2016-02-19 19:13] dazinator commented on #166
@lodejard sounds complicated! At the present time, I'm having to inspect each IFileProvider and try and access the root path. From their I can subtract that from the "PhysicalPath" of any of it's IFileInfo's to get that 'IFileInfo's` subpath. I can then use that subpath when formulating the URL. Any reason's why this approach wouldn't work? Would this decorator interfere with this to potentially t

[2016-02-19 19:16] dazinator commented on #166
@davidfowl - thanks, so - wrap the `IFileProvider` (which is most likely going to be a composite file provider at runtime) with my own, and each time a File is requested, record the path. Then on my own file provider, add some method to give me that information back for some arbitrary `IFileInfo` object?

Hmm. ok cheers David - I'll give that a try!

[2016-02-19 19:20] lodejard commented on #166
Only the code which made the original call has the original path. There is no guarantee that the IFileProvider which creating the resulting IFileInfo was actually given the correct original path. This is by design - because IFileProviders are intended to be used as decorator patterns where they may actually be altering the path they pass to the inner provider.

Does that make sense? It's not just

[2016-02-19 19:29] dazinator commented on #166
@lodejard  ok, so basically, `IFileProviders` offer a one way mapping of a subpath to an `IFileInfo` and it's a literal impossibility to map back the other way, from an IFileInfo, to get subpath information, even if you have access to the top level `IFileProvider` ? Is this the way things will stay?
And therefore the only solution to my problem at present is @davidfowl's suggestion of creating a n

[2016-02-19 19:39] Tratcher commented on #166
@dazinator you never said what you were going to do with the value. What's your end-to-end scenario?

[2016-02-22 14:59] dazinator commented on #166
@Tratcher

Sure. I have avoided getting too much into my own specific scenario, because it's fairly complicated, but I think there is in my view a simpler use case which perhaps you wouldn't mind if I present that first?

	1. Being able to render a hyperlink to download some files available through an IFileProvider.

So for example, if the application stores content in some folders outside of `IHo

[2016-02-22 15:06] dazinator commented on #166
As an aside, I have now managed to work around my own use case, by using a convention to work out what the root path is of a `IFileInfo` and therfore can calculate the subpath - although its not perfect its a good enough heuristic.

I am working to the limitation that I only want to serve physical files, (Physical File Provider) and that the root path of my `PhysicalFileProvider`s will always be s

[2016-02-25 19:12] lodejard commented on #166
it sounds like what you're describing is: given an `IFileInfo` what is the path you would pass to an `IFileProvider.GetFile(string path)` in the future to get the same instance.

Because this scenario starts with "given an `IFileInfo`" that must have been returned by a call to the root `IFileProvider`. Why not preserve that path? Instead of having IFileInfo, have an `KeyValuePair<string, IFileInfo

[2016-02-25 20:54] dazinator commented on #166
@lodejard

Yep spot on!

Because the IFileProvider i am working with is actually a composite one created by the application at startup so it doesnt have a single "root" to preserve. At the moment different "modules" (my application is extensible)  can add their own IFileProviders to this composite during app startup, in order to include plugin / module specific directories. All my app sees is the

[2016-02-26 04:11] lodejard commented on #166
[code]
:)

[2016-02-27 21:44] victorhurdugaci opened #167 "fileSystemWatcher has reached the maximum nunmber of files to watch."
There's a test failure on OSX https://travis-ci.org/aspnet/FileSystem/jobs/112301161

[code]

[2016-02-29 06:34] muratg commented on #167
Is this a CoreFX issue? Should we file a bug there instead?

[2016-02-29 06:35] muratg commented on #167
cc @joshfree

[2016-02-29 19:01] joshfree commented on #167
@sokket can you take a look?

[2016-02-29 19:33] sokket commented on #167
@victorhurdugaci How many files / folders are being created in this test? If you run this command you can see the maximum number that is allowed by the system in total:

```cat /proc/sys/fs/inotify/max_user_watches```

This exception is thrown when the FSW attempts to exceed this limit

[2016-02-29 21:41] muratg commented on #167
@cesarbs Could you have a look? If we're exceeding the max_user_watches value, we probably will need to change the tests.

[2016-03-01 22:34] Driedas commented on #145
I second this suggestion, my use case is a custom IFileProvider that internally wraps the PhysicalFileProvider to provide a virtual file system, returning files based on other criteria than just the file path. If all criteria fails to find the requested file, I would like to return NotFoundFileInfo directly. Returning null just yields a NullReferenceException in Microsoft.AspNet.StaticFiles.Static

[2016-03-02 05:13] cesarbs commented on #167
@sokket `/proc` is only available on Linux, no? I don't see that in OSX. Where can I find the same info on OSX?

I can't repro this on my Mac. @victorhurdugaci Are you seeing the failure consistently?

[2016-03-02 05:15] cesarbs commented on #167
@JunTaoLuo Is this https://github.com/aspnet/FileSystem/commit/ae5340aa9eb37cb5b452ebfe09a19d171607db97 related to this issue?

[2016-03-02 05:44] JunTaoLuo commented on #167
Yes adding that environment variable resolved the errors on travis. Related issue: https://github.com/aspnet/Mvc/issues/2348

[2016-03-02 16:43] muratg commented on #167
@sokket What's the corresponding setting on OS X?

Or could there be a different reason on OS X for this exception?

[2016-03-02 18:07] sokket commented on #167
OS X doesn't have this limitation due to fundamental differences between the FileSystemWatcher on Linux and OSX. On OS X, we have an OS API that watches the root folder and notifies us of any changes in the folder hierarchy; unfortunately, that doesn't exist in Linux. The Linux kernel only provides the inotify interface, which requires a watch handle for every single directory under the root watch

[2016-03-02 20:53] Tratcher commented on #166
If you want to enumerate all the paths then you could walk the directory structure starting at the base url ("/") and call IFileProvider.GetDirectoryContents recursively, building up the urls using IFileInfo.Name.

[2016-03-02 23:29] muratg commented on #167
@cesarbs Can you check the Travis logs and see if we need to change the test cases?

[2016-03-04 00:58] cesarbs commented on #167
@sokket But @victorhurdugaci saw the exception on OSX. So there must be some kind of limitation.

@JunTaoLuo's change seems to do the trick. If we continue to see such errors we should disable parallel test runs. But I don't think the number of watchers created by the tests (even if a lot of them run in parallel) would come close to reaching the limit. We don't have any tests that create a large n

[2016-03-04 00:58] #167 closed

[2016-03-04 01:06] JunTaoLuo commented on #167
The fix I made is a fix for mono and their watcher. This is not really an issue caused by us.

[2016-03-14 22:51] JunTaoLuo opened #174 "Add NullFileProvider"
Need to port https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNetCore.Hosting/Internal/NullFileProvider.cs back to FileSystem.

cc @davidfowl

[2016-03-14 23:07] BrennanConroy commented on #159
@Eilon
Should the PhysicalFilesWatcher respect Unix '/' '\' differences and case sensitivity?

[2016-03-15 00:33] Eilon commented on #159
You mean we'd effectively be normalizing `/` and `\`?

[2016-03-15 04:45] muratg commented on #159
I think yes for normalizing "/" and "\".  Not sure where we landed on case sensitivity...

[2016-03-17 17:20] #174 closed

[2016-04-04 23:02] NTaylorMullen opened #179 "Remove VSRC1 projects"
Once we have successfully signed bits we should remove the VSRC1 projects.

Commits to revert (in dev and release):
https://github.com/aspnet/FileSystem/commit/45a93924a14ea802dd8d18b250d7e712ce3e0671
https://github.com/aspnet/FileSystem/commit/36bad41b355382c51d8a4a5d9cf022d33cbbb90b
https://github.com/aspnet/FileSystem/commit/3ca5025090686dd6590aeacea42c7585f7820c55

[2016-04-11 19:09] pranavkm opened #181 "Augment FileChangeToken to use timestamps in addition to FileSystemWatcher's callbacks"
Follow up to https://github.com/aspnet/FileSystem/pull/180. Our current mechanism of relying on `FileSystemWatcher` might have reliability issues with network shares. The plan is to additionally use a file system check to ensure the change token is eventually consistent. We'll turn this behavior on when an environment variable is set.

[2016-04-11 19:13] pranavkm commented on #181
Self assigning

[2016-04-11 19:46] pranavkm opened #182 "PhysicalFileWatcher produces regexes for non-wildcard patterns"
Noticed this when I was debugging test. When Mvc.Razor uses `Watch` we only ever use absolute paths to Razor and never uses wildcard. Might be worth investigating if we can avoid generating extra `Regex` instances

[2016-04-12 23:28] shutdown256 opened #184 "EmbededFileProvider doesn't work with paths/filenames with special characters"
If you have embeded resource in folder containing dash "-" in its name it gets translated into underscore inside an assembly. EmbededFileProvider is not respecting that.

I've put together quick (and probably dirty) fix:

[code]

[2016-04-15 21:41] DamianEdwards commented on #184
@Eilon @muratg can we assign this to a dev to investigate pls?

[2016-04-18 15:55] muratg commented on #184
@BrennanConroy Could you investigate?

[2016-04-18 17:09] BrennanConroy commented on #184
Confirmed folders with '-' are converted to '_' in the Assembly

Would we like `provider.GetFileInfo("test-name.resource");` and `provider.GetFileInfo("test_name.resource");` to have the same behavior? (assuming test-name is the folder the resource is in)

[2016-04-20 23:01] #181 closed

[2016-04-21 16:38] muratg commented on #182
:+1:

[2016-04-21 16:51] pranavkm commented on #182
This was fixed as part of https://github.com/aspnet/FileSystem/commit/c22515597524dfad7f65717cb7e759b9dd7236b6. We now expand the pattern when `Watch` is called.

[2016-04-21 16:51] #182 closed

[2016-04-23 16:56] malekpour opened #186 "No way to access hidden files"
It is good that providers do not enumerate hidden files. It is also impossible to read contents of hidden files in default implementation.

In some cases accessing hidden files is necessary, for example I was trying to access a `.gitignore` file content using `PhysicalFileProvider` with no luck.

Having an optional flag to make hidden files available would be great.

[2016-04-28 16:30] muratg commented on #186
@malekpour Curious why you were trying to use a .gitignore file in a web app... Even if we make this additional check, it seems to me that other workflows around the app may still fail to recognize these files (i.e. deployment scripts...)

[2016-04-28 17:03] malekpour commented on #186
I have a small app to browse & modify local and cloud file system, migrating to AspNetCore. I decided to choose `FileSystem` as an abstraction layer. Successfully implemented providers for cloud, but unable to use `PhysicalFileProvider` since it hide and ignore all files starting with dot.

[2016-05-09 22:23] NTaylorMullen opened #187 "Rename events on PhysicalFileWatcher can throw - Crashing VS."
In some of Visual Studios test cases when they open a file => new web app 50+ times they eventually encounter crashes [here](https://github.com/aspnet/FileSystem/blob/01c1e95ae57456fb143a56d086a510082848d02c/src/Microsoft.Extensions.FileProviders.Physical/PhysicalFilesWatcher.cs#L133). Essentially `Directory.EnumerateFileSystemEntries` explodes due to a node_modules file being renamed then locked.

[2016-05-09 22:29] Eilon commented on #187
@NTaylorMullen this shouldn't crash VS no matter what. Did you open a VS bug?

[2016-05-09 22:32] ToddGrun commented on #187
VS doesn't own any of the code on this stack. The exception never gets caught and ends up crashing VS.

[2016-05-09 22:34] Eilon commented on #187
@ToddGrun hmm then how does it crash VS?

[2016-05-09 22:52] ToddGrun commented on #187
@Eilon -- An unhandled exception on a background thread will kill VS.

[2016-05-09 23:53] Eilon commented on #187
Ah, background thread, got it!

[2016-05-09 23:54] Eilon commented on #187
@muratg @DamianEdwards should we consider a hot-fix here for RC2 to at least try-catch? And do a better fix for RTM?

[2016-05-09 23:55] muratg commented on #187
@Eilon yes, I think a simple fix in RC2 is worthy, considering how bad the experience is.

[2016-05-10 05:21] Eilon commented on #187
@muratg can you send email for approval?

[2016-05-10 17:52] NTaylorMullen opened #189 "Revisit how physical file watcher handles events"
We did a quick fix for https://github.com/aspnet/FileSystem/issues/187 for RC2 but we should revisit the solution for RTM. Aka, it's bad that we're swallowing exceptions and should investigate other alternatives.

[2016-05-10 18:09] NTaylorMullen commented on #187
98ea34e732734413da699959dd0342033de8c149

[2016-05-10 18:09] #187 closed

[2016-05-10 18:18] DamianEdwards commented on #187
@NTaylorMullen that commit is in to `dev`, is this going in to `release` as well?

[2016-05-10 18:19] NTaylorMullen commented on #187
Oops pasted the dev commit instead of the release commit (it went into release first).

[2016-05-11 18:03] pakrym opened #190 "Default EmbeddedFileProvider baseNamespace parameter to assembly name"
Lets take assembly named `MyCompany.MyApplication` with embedded folder `wwwroot` that has `text.txt` file in it.

When using `EmbeddedFileProvider.ctor(Assembly assembly)` it will set `baseNamespace` to empty by default, so URL will look like: `http://localhost/MyCompany/MyApplication/wwwroot/text.txt`.

If we change it's behavior to set `baseNamespace` to assembly name it will look like `http://

[2016-05-16 18:02] NTaylorMullen commented on #179
818330ec4c8b7d8ca126fa82e5c2c384fe0b4914

[2016-05-16 18:02] #179 closed

[2016-05-18 17:53] muratg commented on #190
Do we currently support multiple assemblies for the file provider?  If we go with this proposal, and and if there's a clash in the folder name, what happens?

[2016-05-19 21:05] HaoK opened #192 "IFileProvider Deleting file does not fire Watch IChangeToken"
Expectation is that delete will fire the IChangeToken returned from Watch

[code]

[2016-05-19 21:05] HaoK commented on #192
Maybe related to https://github.com/aspnet/FileSystem/issues/34?

[2016-05-19 21:06] HaoK commented on #192
Discovered by https://github.com/aspnet/Configuration/issues/433

[2016-05-23 16:03] dazinator commented on #166
@Tratcher @lodejard - thanks both. This is indeed what I ended up doing. Happy for you to close this issue.

[2016-05-23 16:20] dazinator commented on #166
And here is an extension method that uses recursion as suggested to build up the list of files with subpath information:

[code]

[2016-05-23 18:05] dazinator opened #193 "IFileProvider - Path Too Long Exception"
I'm listing files from an `IFileProvider` by enumerating the files, and filtering based on the file extension. However when accessing `IFileInfo.PhysicalPath` I'm getting a `PathTooLongException`

![image](https://cloud.githubusercontent.com/assets/3176632/15479635/f963432a-2118-11e6-8fb8-5a801bfb7e06.png)

I'm using build `1.0.0-rc2-15922` in an ASP.NET 5 RC1 based application.

Given that the fi

[2016-05-23 21:17] pranavkm commented on #193
The call stack is from `System.IO.Path`. https://github.com/dotnet/corefx/issues would be the right place to file this issue.

[2016-05-23 21:17] #193 closed

[2016-05-24 07:31] davidfowl commented on #159
@BrennanConroy lets talk about this tomorrow

[2016-05-24 16:51] MiloSmith commented on #145
I agree with this, I am using SaasKit and have a tenant context. My file provider takes that context into account and servers up files based on the tenant. I had to copy several classes into my code from the source, and that is a pretty ugly solution. Because of this, I get the impression that you guys don't want us making new file providers. Is that the correct? Am I missing something here?

[2016-05-24 17:03] pranavkm commented on #145
@Eilon - thoughts on publishing the NoOp* types from Sources into Abstractions?

[2016-05-24 20:33] Eilon commented on #184
@BrennanConroy I recall discussing this a while ago - do we even know a way to fix this? Aren't there ultimately always going to be ambiguities in the names of embedded resources due to how the compilation system stores the paths?

[2016-05-24 20:54] Eilon commented on #145
In 1.0.1. No time in this milestone.

[2016-05-24 21:10] BrennanConroy commented on #184
Yes there will be an ambiguity between folder names with `-` and files named the same but with `_`

[2016-05-24 21:29] moozzyk commented on #184
/cc @victorhurdugaci

[2016-05-24 21:34] victorhurdugaci commented on #184
Yeah, those names have to be valid C# identifiers and that's why `-` gets converted to `_`. Of course if you have `a-b` and `a_b` as two different names, you're going to get a name collisions

[2016-05-24 22:40] Driedas commented on #145
I understand you guys are all swamped at the moment to get to RTM, so would you accept a pull request with this change?

[2016-05-24 23:25] victorhurdugaci opened #194 "File globbing should support pattern checks"
Today you cannot check if if a path matches a pattern without executing the globbing pattern (aka going to disk). This slows down dotnet watch a lot because on every file change it has to go to the disk, fetch all files and the see if the changed file is in the resulting list.

[2016-05-24 23:31] pranavkm commented on #194
Isn't this what FileSystemGlobber does - https://github.com/aspnet/FileSystem/blob/dev/src/Microsoft.Extensions.FileProviders.Physical/PhysicalFilesWatcher.cs#L107-L108

[2016-05-24 23:34] victorhurdugaci commented on #194
Nope. What I want to do is, given:

1. Base path: `/foo`
2. Pattern: `*.js`

Tell me if `/foo/bar.js` matches that without going to the disk.

[2016-05-25 01:29] Eilon commented on #184
So can we do anything about this? What would a theoretical, regardless-of-cost fix look like?

[2016-05-25 01:30] Eilon commented on #145
@Driedas we would certainly consider it, though of course it's difficult to guarantee anything 😄

[2016-05-25 03:37] muratg commented on #184
It doesn't look like there's a namespace/directory hierarchy for assembly resources (though one exists for languages).

One ugly, not even fully correct mitigation could be converting - to ___ (or something similar) instead.

I remember having a similar problem in DNX time where environment variable names could not contain certain characters in Linux and OS X, and I believe we had done something l

[2016-05-25 05:54] victorhurdugaci commented on #184
The name transformation function doesn't have an inverse. Once a name is converted, you cannot convert it back.

@muratg `___` would not work because `a-a` and `a___a` would collide. It's a one way transformation, nothing you can do about it. The environment variable is different because there you don't support the other character, here you support both.

Maybe we discussed this but I don't rememb

[2016-05-25 10:15] Driedas commented on #145
@Eilon implemented suggestion by @pranavkm in PR https://github.com/aspnet/FileSystem/pull/195

[2016-05-25 23:39] divega commented on #192
@muratg @Eilon can this be triaged for RTM?

[2016-05-26 05:11] Eilon commented on #192
Yeah this looks pretty broken.

[2016-05-26 05:51] muratg commented on #192
@victorhurdugaci Please investigate. If the root cause is in CoreFX, let's file a bug there.

[2016-05-26 05:54] muratg commented on #190
Ping

[2016-05-26 05:59] muratg commented on #190
@pakrym Let's make this change in RTM. Once done make sure to post an announcement.

[2016-05-26 16:43] Eilon commented on #145
Assigning to @pranavkm because he's taking care of the PR.

[2016-05-26 17:15] pranavkm commented on #145
Fixed in https://github.com/aspnet/FileSystem/commit/f282bcee933debdbcb9765c51eeb4ef2ca190efc

[2016-05-26 17:15] #145 closed

[2016-05-27 22:40] #190 closed

[2016-05-31 14:43] dazinator commented on #23
+1. Agree. `PhysicalFilePath` only seems to make sense for a subset of implementations, and doesn't seem to belong at this level of abstraction.

Why would you care (open question) if a file has a phsyical file path or not? It would just introduce this branching in to your code::

[code]

This would encourage provider specific code to be dotted in places to cover physical files, not nice imho.

So

[2016-06-01 20:43] victorhurdugaci commented on #192
The token triggers on delete. It's not a file system issue. See the comments in https://github.com/aspnet/Configuration/issues/433 for the root cause

[2016-06-01 20:43] #192 closed

[2016-06-04 15:20] Mertsch opened #199 "PhysicalFileProvider throws 'System.ArgumentException' because of missing lazy loading file system watchers"
[code]

Throws `The directory name C:\ProgramData\company\ is invalid.` because

https://github.com/aspnet/FileSystem/blob/ee0d82e44b0478d3589919fcbc043cdd6f8e10fb/src/Microsoft.Extensions.FileProviders.Physical/PhysicalFileProvider.cs

[code]

does way to eager FSW creation.

If the folder does not exist, you run into this error, even though loading optional configuration files should catch exact

[2016-06-07 21:41] muratg commented on #199
@victorhurdugaci Could you take a look?

[2016-06-08 12:20] sgjsakura opened #200 "[Question] Write support for FileProviders"
In a web application, saving user uploaded files is a general task. It seems that currently the file provider only supported reading operation for files, that means if I want to save a file, I must use low-level operations, e.g. using File.Create or other API to write a binary stream into the file system.

Actually, the high level application should only care about 2 things: Save a stream into a s

[2016-06-08 16:34] victorhurdugaci commented on #199
This is a known limitation of the file system watcher. It can watch for file changes as long as the root directory exists. It doesn't know how to handle the cases when it doesn't exist and it gets created later. cc @HaoK

[2016-06-08 16:35] victorhurdugaci commented on #199
If you want to work around it, then you have to create a file watcher one level higher than the folder you want to watch (assuming that folder exists) and if the folder gets created later either create a second provider or simply ignore changes outside of the folder of interest

[2016-06-08 16:46] Mertsch commented on #199
My current workaround is this, but it kinda makes the purpose of `optional` questionable.
Plus redundant FSW for every provider that is not interested in updates.
[code]

[2016-06-08 17:27] victorhurdugaci commented on #199
What you're describing is actually a configuration bug that relies on something that the file watcher doesn't support.

It's related to https://github.com/aspnet/Configuration/issues/433 @haok can provide more information and will decide if they want to fix this.

[2016-06-09 23:22] Tratcher opened #201 "Long path or filename throws unhandled exception"
_From @cweb on June 9, 2016 23:16_

A long request path will throw an unhandled exception.

[code]

_Copied from original issue: aspnet/StaticFiles#138_

[2016-06-10 12:04] ColinBradleyDriveWorks opened #202 "PhysicalFileProvider.GetFileInfo returns NotFoundFileInfo for all absolute paths"
This was a pretty confusing error to deal with as it's misleading.

Especially when the absolute path does actually exist.

if something stated that it was an invalid, out of range, or even rooted path, that would be fine.
I don't know what you would complain about though if the path actually fell within or relatable to the root path.

This can be seen with something like:

[code]

I appreciate th

[2016-06-10 12:20] davidfowl commented on #202
It's fixed in RTM of configuration https://github.com/aspnet/Configuration/commit/009a062fc6dd2a49ccef376d1c0e3ca47e252577. This isn't a file system issue, it's a configuration issue.

[2016-06-10 19:07] Tratcher opened #204 "StaticFiles throws in _fileProvider.GetFileInfo on /.%20./"
_From @cweb on June 9, 2016 22:57_

Sending a request of `GET /bar/.%20./foo.txt HTTP/1.1 or GET /bar/%20./foo.txt HTTP/1.1`

Throws  an unhandled ArgumentException at:

[code]

[code]

_Copied from original issue: aspnet/StaticFiles#137_

[2016-06-15 18:17] #204 closed

[2016-06-15 18:17] #201 closed

[2016-06-20 20:19] Eilon opened #205 "PhysicalFilesWatcher should defend against PathTooLongException"
In the various event handlers in [PhysicalFilesWatcher](https://github.com/aspnet/FileSystem/blob/dev/src/Microsoft.Extensions.FileProviders.Physical/PhysicalFilesWatcher.cs), there can be exceptions thrown for paths that are too long. For example, constructing a `FileInfo` with a long path can throw.

Because this code runs in background threads, this can easily take down a process that's using i

[2016-06-27 12:13] dazinator opened #206 "IFileProvider use case and abstraction issues"
Questioning whether the `IFileProvider` abstraction needs improving (or its implementations) - due to following issues. I am finding usage of the abstraction needs to be different for different providers, so in essence you have to cater for all specific implementations and the IFileProvider abstraction isn't helpful.

Example use case..

I want an RC2 application to list all available CSS files th

[2016-06-28 22:15] BrennanConroy commented on #205
https://github.com/aspnet/FileSystem/commit/b58bbe011ab88335d532762740c43381b36244a7

[2016-06-28 22:15] #205 closed

[2016-06-28 22:21] #202 closed

[2016-06-28 22:29] Tratcher commented on #206
To summarize: EmbeddedFileProvider should support GetDirectoryContents and sub-directories.
This is the same issue as reported here: https://github.com/aspnet/StaticFiles/issues/141#issuecomment-226578309

[2016-06-29 15:03] martinba1 opened #208 "EmbeddedFileProvider - Change _lastModified date to last write time of an assembly"
Could you please consider change of _lastModified date to last write time of an assembly? This information would be very useful if you want to use this file provider also for different purposes than Razor View.

File: FileSystem/src/Microsoft.Extensions.FileProviders.Embedded/EmbeddedFileProvider.cs
Current: _lastModified = DateTimeOffset.MaxValue;

My idea is:
if (assembly.Location != null)
    _

[2016-06-29 21:09] muratg commented on #208
Agreed.

[2016-06-29 21:15] muratg commented on #206
Related: https://github.com/aspnet/FileSystem/issues/184

Not sure what kind of design would actually work in either of these issues.

@davidfowl Any thoughts on either? PhysicalFileProvider has similar issues with canonicalization.

[2016-06-29 21:37] dazinator commented on #184
Can you not use a tactic similar to `preserveCompilationContext` i.e at build time, produce and embed the additional information needed (i.e a file) to preserve the directory information (original file path) via  mapping?

For example, if you embedded these two files at build time:

1. `/myfiles/sometextfiles/my_text-file.min.js`
2. `/myfiles/sometextfiles/my_text-file2.min.js`

Then you would als

[2016-06-29 21:40] dazinator commented on #206
I've suggested one solution on #184, feel free to tear it apart :)

[2016-06-30 00:06] Eilon commented on #184
I think the problem here is that it's the .NET CLI system / CSC.exe that are doing the embedding. There's no "custom code" that runs at that point that would be able to generate these mappings. Though, I agree that *if* there were a way to do that, it could very well work.

[2016-06-30 01:07] dazinator commented on #184
@Eilon - yeah ideally this would be taken care of at that level - is this something perhaps for the dotnet cli folks to chime in on?

However as an interim I could also see a workaround for the devoted that wouldnt require any tooling changes..

1. Add resourcePaths.txt to the `embed` section of your project.json
2. Add a precompile script to the project, write a tool that evaluates the `embed` se

[2016-07-05 21:41] BrennanConroy commented on #208
https://github.com/aspnet/FileSystem/commit/a5366af6614835ea4faff7e35c58604563ba5908

[2016-07-05 21:41] #208 closed

[2016-07-06 19:36] BrennanConroy commented on #159
/ at beginning of path is "correct"
\\ to / in Watcher will be backlogged
Case sensitivity in Watcher could be made a flag in future

[2016-07-14 09:12] Yves57 commented on #206
I propose a solution that can fix the problem of `GetDirectoryContents()` that supports only flat structure.
Because it will always be impossible to know where is the directory and where is the file name in a resource name "A.B.C.D", I propose... to let the user do the job.

Imagine a function `Func<string, Tuple<string, string>>)` (or maybe a structure `SplitResourceName` instead of the `Tuple`,

[2016-07-14 13:10] Tratcher commented on #206
Note that directories are not the only issue. All file providers will have some discrepancies between the characters allowed in url paths and those allowed in file paths.  For instance the Mac and Linux file systems are case sensitive (https://github.com/aspnet/FileSystem/issues/16).

We were already considering a customizable Func on the provider to override the default matching of urls to files

[2016-07-14 14:20] Yves57 commented on #206
Are you sure that the two problems are similar?

The code `new PhysicalFileSystem("/foo/bar").GetFileInfo("/FOO/BAR")` returns different result on Unix and Windows. But who is in charge of this problem?
- You want to keep this difference, and it is the user responsability to find a solution.
- It is the provider responsability, so the code should be `new PhysicalFileSystem("/foo/bar", ignoreCase:

[2016-07-14 18:32] Yves57 commented on #206
I propose my help for a PR with the following design:

A new structure:
[code]

Two new constructors:
[code]

A new static method:
[code]

Is it OK for you?

[2016-07-14 18:42] Tratcher commented on #206
For `Func<string, SplitFilePath>`, is the input string supposed to be the embedded resource name? Since that doesn't change then this doesn't seem like the kind of operation to run per request. Alternatively would you build a big table in the constructor?

[2016-07-14 19:10] Tratcher commented on #206
Sounds like it's worth a try. Send a PR and we'll see how it works.

[2016-07-14 22:30] muratg commented on #206
@davidfowl please have a look at the proposed design above

[2016-07-14 23:08] dazinator commented on #206
I like the idea of a `Function` that can be set to provide path information for embedded resource names.
However, the resource name itself is not enough to get back the original directory / path information, otherwise we could already do that reliably and wouldn't need this `Func`.

Which basically means, this is passing the buck to the `Func` - and inside that `Func` what will people do?

1. Have

[2016-07-15 22:34] rrelyea opened #212 "FileSystemGlobbing package should support being hosted by NuGet.exe (target 4.5.0 please)"
We currently munge code from FileSystemGlobbing into nuget assemblies...however, it is exposed as public, which causes conflicts with the real FileSystemGlobbing.

@anurse filed an issue: https://github.com/NuGet/Home/issues/2345
to ask NuGet to fix.

In order to fix most efficiently, we are asking that you guys downgrade the TFM for FileSystemGlobbing to NetFramework 4.5 from your current 4.5.1.

[2016-07-15 22:47] anurse commented on #212
/cc @DamianEdwards @Eilon

Technically: no problem (as far as I can tell). It's up to people with 'Manager' in their title to figure out if we're OK pulling this down to `net45` ;)

[2016-07-17 09:14] Yves57 opened #213 "Adding a ZIP file provider"
I have sent a PR #211 to propose a solution to the hierarchy problem in the Embedded file provider (see #206), but it is not perfect. In parallel, the Embedded file provider has problems to manage correctly dashes in paths (see #184).
Nevertheless it is often useful to "merge" a file tree into one file.
So I suggest to create a ZIP file provider:
- It is not so difficult to implement.
- It fixes t

[2016-07-20 12:43] dazinator commented on #184
Any news on when we can expect a solution for this issue? I am debating whether to wait for a fix or fork and try and put in a temporary fix to use in the interim.

[2016-07-20 14:48] dazinator commented on #184
Decided to do the following as a temporary measure:

[code]

and

[code]

[2016-07-20 19:35] Yves57 commented on #213
Any chance for a PR on this issue to be accepted?

[2016-07-20 19:41] dazinator commented on #184
The code below shows my final wrapper around an `EmbeddedFileProvider`.

As well as "handling" underscores, I have tweaked  `GetDirectoryContents()` a bit to give the illusion of a non-flat directory structure. So if you provide a path like `GetDirectoryContents("/Some-Folder/")` it will return all embedded resources that start with `basenamespace.Some_Folder`. - rather than no files at all.

This

[2016-07-20 19:46] pranavkm commented on #213
Could this be developed as a 3rd party library? The code for this doesn't necessarily need to live in this repository.

[2016-07-20 22:49] victorhurdugaci commented on #199
We need to fix this for the Antares integration. More details: https://github.com/aspnet/Configuration/issues/478#issuecomment-234107854

[2016-07-21 04:08] davidfowl opened #215 "Idea to minimize buffer allocations in PhysicalFileProvider"
Credit goes to @stephentoub

Pass the minimum buffer size (1) to the FileStream constructor and have callers use pooled buffers for reading.

/cc @pakrym @Tratcher @rynowak

[2016-07-21 04:10] pakrym commented on #215
Would read skipping internal buffer in this case?

[2016-07-21 04:10] davidfowl commented on #215
That's the idea.

[2016-07-21 04:10] pakrym commented on #215
I'll try and profile it tomorrow.

[2016-07-21 04:11] pakrym commented on #215
Would be nice to allow passing 0 to `bufferSize` then.

[2016-07-21 04:25] stephentoub commented on #215
While it may be nice aesthetically, it shouldn't really impact anything.  The buffer shouldn't be allocated (at least not in corefx), as the buffer is lazily-initialized and will be skipped if the number of bytes to be read is >= bufferSize.

[2016-07-21 13:02] dazinator commented on #184
Turns out wrapping an `EmbeddedFileProvider` only works up to a point. I wanted to add the illusion of directories, but that meant having to wrap the IFileInfo's also so i could "modify" the Name. Couldn't justify all the wrapper code, so just created a new class instead:

[code]

[2016-07-25 10:17] dazinator commented on #194
Yes please! Does globbing only work with `PhysicalFileProvider` currently then?

I'd like to take:
1. A pattern `**/*.js`
2. An `IEnumerable<string>` paths - `{"some/path/file1.js", "some/path/file2.js", "someother/file/one.txt"}`

Tell me what the matches are (without going to disk)

[2016-07-26 16:18] muratg commented on #212
I'm fine with this as well (assuming it works :smile:)

@DamianEdwards @Eilon You guys are fine with this?

[2016-07-26 16:19] muratg commented on #213
Agreed with @pranavkm, this can easily be a third party library.

[2016-07-26 16:19] muratg commented on #215
@pakrym did it help (if you got the chance to profile)?

[2016-07-26 16:24] pakrym commented on #215
Yes, I implemented it. Buffer allocations from `FileStream` are not a problem anymore.

[2016-07-26 16:24] #215 closed

[2016-07-26 17:03] Eilon commented on #212
Yeah I was gonna approve this. Let's just do it, assuming we don't run into issues.

[2016-07-26 19:50] Yves57 commented on #213
OK.
For information: https://github.com/AspNetCore-Ext/FileSystem.

[2016-07-26 21:00] muratg commented on #213
@Yves57 Nice! You can also consider using the https://github.com/AspNet-contrib for the org.

[2016-07-27 15:52] BrennanConroy commented on #212
https://github.com/aspnet/FileSystem/commit/ec05b047d305da03c268dae2c5e69abcfa911315

[2016-07-27 15:52] #212 closed

[2016-07-27 19:44] muratg commented on #206
ping @davidfowl

[2016-07-28 04:57] davidfowl commented on #213
That's pretty cool and should be contributed to aspnet-contrib

[2016-07-28 19:43] PinpointTownes commented on #213
@davidfowl @muratg I'm fine accepting new projects for aspnet-contrib but I have unfortunately no latitude to review them ATM.

I guess it would help if someone from your team reviewed the current work to see if it's a good candidate for a real world app.

I'm specially concerned about the performance and security implications of reading ZIP files on-the-fly. A :shipit: from @blowdart would be a m

[2016-07-28 19:44] blowdart commented on #213
Zips are frankly dangerous, due to zip bombs. Now if this was only for trusted input, and not for user upload files I would be ok with it (much like assemblies/embedded files). Assuming it unzipped in memory. And the memory was constrained.

[2016-07-29 07:02] Yves57 commented on #213
The first idea is to have a single file to manage (like the embedded file provider idea, but without directory path problems). It is not to compress data.

I have not the right benchmark infrastructure to make tests, but something like:
[code]
with a not compressed ZIP file may have better performances than a classic `PhysicalFileProvider`, because all is in memory and works like a file cache.

[2016-07-29 19:45] Yves57 commented on #16
While working on a ZIP File Provider (see #213), I encountered the problem.

Just by curiosity, for the code `new PhysicalFileSystem("/foo/bar").GetFileInfo("/FOO/BAR")` that returns different result on Unix and Windows:
- It is the user responsability to find a solution.
- It is the provider responsability, so the future code should be `new PhysicalFileSystem("/foo/bar", ignoreCase: true).GetFile

[2016-07-29 19:50] davidfowl commented on #16
We're not going to make the file system provider case insensitive, that requires caching and all the problems that come along with it. It's unfortunate that file systems are case sensitive but this API isn't trying to fix that.

[2016-07-30 15:39] davidfowl opened #219 "Add CachingFileProvider"
@pakrym ran some performance tests on our static file server and we came to the conclusion that the performance can be improved with a bit of caching. Most of the time (on windows at least) seems to be spent in GetFileAttributes

[2016-08-01 19:36] Yves57 commented on #219
About a `Clean()` method, I just ask because I have seen the request for `IMemoryCache`. But personnally I don't know scenarios.

For the synchronization, I was thinking that a physically deleted file would be 'visible' until its expiration (and same principle for update). `IFileProvider.Watch()` may be used too, but I fear it would have performance problems in case of large file tree.
Or do you w

[2016-08-02 14:51] masaeedu commented on #206
Wouldn't fixing the `copyToOutput` transitivity bug eliminate the need for this?

[2016-08-02 15:14] dazinator commented on #206
@masaeedu it would alleviate one need to use the embedded file provider so it would certainly help. However this issue still remains. Its like saying the car is broken but if we make the trains run on time who needs a car? How do you think the train drivers get to work? :-)

[2016-08-03 18:02] dazinator opened #221 "InMemoryFileProvider"
An "in memory" implementation of an `IFileProvider` might be useful to allow providing access to content defined in memory (obviously) which is useful especially during unit tests.

You can ofcourse mock the `IFileProvider` interface, but this gets quite complex when you have to also support change token notifications.

It would be nice if there was an InMemory implementation with an API for addin

[2016-08-03 22:10] rynowak opened #223 "Can we defer creation of the PhysicalFileWatcher in PhysicalFileProvider"
`PhysicalFileProvider` always creates a file watcher when it's created. I'm wondering if we need this or if we could just defer the work until it's needed.

This happens on the hosting startup path so it's critical path for startup. I don't have any evidence yet that it's a significant perf factor, it just seems like work we could avoid.

[2016-08-08 07:14] davidfowl opened #224 "Delay enumeration of directory until IDirectoryContents enumerated"
Not sure why we do this inline, but I was profiling the static file middleware and saw enumeration even though it's just checking for directory existence:

https://github.com/aspnet/FileSystem/blob/dev/src/Microsoft.Extensions.FileProviders.Physical/PhysicalFileProvider.cs#L219-L236

https://github.com/aspnet/StaticFiles/blob/dev/src/Microsoft.AspNetCore.StaticFiles/DefaultFilesMiddleware.cs#L69-L

[2016-08-17 18:15] muratg commented on #219
@pakrym gave this a shot, unfortunately didn't get much benefit from it. 1.1 work on response caching may actually be helping in this case.

[2016-08-17 18:15] #219 closed

[2016-08-18 12:28] jozefizso commented on #186
I'm writing a custom directory browser formatter. I would like to have metadata files like `.build.info` in my folders and the custom formatter will use this to modify the output HTML.

When I call `_fileProvider.GetFileInfo(requestPath.Add("/.build.info"))` it returns FileNotFound object. I would like to have ability to read hidden dot files using `PhysicalFileProvider` class.

[2016-08-28 10:48] Yves57 commented on #224
I just had a somewhat similar problem in a WebDAV middleware implementation: I just want to check a path validity, and if this path represents a file or a directory.
Calling `GetFileInfo` works for the files but not for the directories. So if it fails, I have to call `GetDirectoryContents` to check if it is a directory. And of course it enumerates all child entries for nothing in my case.

So just

[2016-09-06 17:21] natemcmaster opened #229 "Make DirectoryInfoWrapper implementation details internal"
Microsoft.Extensions.FileSystemGlobbing.Abstractions.DirectoryInfoWrapper has public API that is really only an implementation detail. We could make some of this to internal instead.

Would be a breaking change, so we can't do this until 2.0.

[2016-09-06 19:32] pranavkm commented on #229
We could start by marking it as Obsolete. One alternative after doing so is to clone the type into a separate namespace that we can use without having to pragma suppress the obsolete warning.

[2016-09-15 17:57] pranavkm opened #231 "Consider adding an InMemoryFileSystem"
@sebastienros was hacking something together for his work where he wanted to shim a file provider backed by strings. It would be nice if there's an InMemoryFileProvider-like type that

1. Allows adding files as part of the constructor
2. IFileInfo instances that allow being backed up Streams or something like that.

[code]

Would also help as a nice API for stubbing in tests in particular if we ca

[2016-09-15 23:30] HaoK opened #232 "PhysicalFileProvider can't find ".env" file"
Maybe files that start with .causing issues?

Found by https://github.com/aspnet/Configuration/issues/505

Simple repro:

[code]

[2016-09-16 01:08] natemcmaster commented on #232
This is expected behavior. https://github.com/aspnet/FileSystem/issues/51 cc @glennc

[2016-09-16 04:31] luisa123456 commented on #184
Long path error is a very common problem in Windows users face. Try using Long Path Tool if your computer is giving errors like, “Path too long”, “Path too long – aborting (error code 80/1)”, 0x80010135 Path too long”, “Error cannot delete file: cannot read from source file or disk” or “File cannot be copied”. You can use Long Path Tool to resolve these problems. Get support of this product by sub

[2016-09-16 16:52] BrennanConroy commented on #194
https://github.com/aspnet/FileSystem/commit/767f07ff39ec66e567d73a034f11bda260ab6123

[2016-09-16 16:52] #194 closed

[2016-09-16 16:53] atrauzzi commented on #232
My use case is that I'm explicitly trying to load the file.  I shouldn't lose access to files that start with `.`.  The only automatic behaviour you should really want is to not have them included in non-verbose/non-all directory listings.

Otherwise, they're just files like anywhere else.

[2016-09-16 17:04] natemcmaster commented on #232
I don't have context on the original design decisions. Changing current behavior could be an issue. For now, users can workaround by using System.IO directly.

cc @muratg That said, it's worth revisiting this behavior. This is not the first time the issue has been raised. IMO the necessity of dropping out to System.IO indicates a problem in the abstraction.

[2016-09-16 17:11] muratg commented on #232
@natemcmaster Agreed. We should look into this in 2.0 and reconsider the behavior.

[2016-09-16 17:34] atrauzzi commented on #232
Is fixing this in 1.* really that big of a regression?  I know there would be some component of assumption, but the current behaviour is fairly inconsistent with expectations on platforms that do support dot-files.

Would stand to reason more people are being blindsided by current behaviour than those who are intentionally relying on it.

[2016-09-16 18:00] muratg commented on #232
@atrauzzi more than the concern of a regression, I'm slightly more worried about the security implications. If you don't know this behavior has changed, you may inadvertently start serving files that you don't want to.

cc @blowdart, @glennc

[2016-09-16 19:34] atrauzzi commented on #232
I suppose that's a possibility, although "files that start with a dot are secure" is not something I'd say is true enough to need to stick to.  The implementation in that case will have lead people to a bad assumption.

"Files that start with a dot" are simply exempt from globbing/bulk operations.  So the idea that there's a security angle here assumes the security analysis done earlier was correc

[2016-09-16 20:00] pranavkm opened #233 "Modify PhysicalFileWatcher.Watch to work for new files being added"
Currently the PhysicalFileSystem.Watch(“*.cshtml”) does not trigger change events for new files added after the fact. This was done as a low cost solution when adding support for polling.

We'll modify this behavior to allow both FileSystemWatcher backed events and polling to work for globbing patterns.

[2016-09-19 09:11] andriysavin opened #234 "Make file watching events distinguishable"
While `IFileProvider` was apparently designed for ASP.NET stack needs and fits them, it's a separate set of packages which _looks_ to be usable outside of ASP.NET. However, besides other issues, its `IFileProvider.Watch` functionality, being a convenient abstraction over `FileSystemWatcher`, is very limited if you try to use it instead of the latter. The action called via `IChangeToken` seems to b

[2016-09-19 18:26] pranavkm commented on #233
Self assigning to unblock https://github.com/aspnet/RazorPages/issues/42

[2016-09-19 19:11] blowdart commented on #232
There's a convention around . directory & files that they're not included in normal operations, be they github checkins, or, well, anything else. It's not saying they're secured, just that there's an assumption they're _ignored_. Hence the security concern.

[2016-09-19 19:26] HaoK commented on #232
It's one thing to ignore them in most operations. It's another to block explicitly reading them when you want. Given that IFileProvider is the abstraction for reading files. The equivalent would be if File.Read didn't let you open .env files. Kinda broken.

[2016-09-19 19:30] blowdart commented on #232
True. If you could fix it, but ensure the static file provider didn't serve them, and it didn't serve them if they were hidden/system that would mollify my concerns. What about excluding them from directory listings too?

[2016-09-19 19:34] HaoK commented on #232
Well the logic for not serving . Files can live in the static file handler. That kind of check shouldn't go in the low level file abstractions layer of GetFileInfo since we end up using that for reading config files (which we should allow and is currently blocked as a result)

[2016-09-19 19:36] blowdart commented on #232
Sure, but both would need updated at the same time.

[2016-09-19 19:40] pranavkm commented on #232
We could separate the two concerns - have a regular `PhysicalFileProvider` and a `SafeToServePhysicalFileProvider` which we use in StaticFiles and such.

[2016-09-19 19:41] blowdart commented on #232
StaticFiles already makes decisions based on extension doesn't it?

[2016-09-19 19:44] pranavkm commented on #232
@Tratcher is probably the best person to answer that question.

[2016-09-19 19:46] natemcmaster commented on #231
Duplicate of https://github.com/aspnet/FileSystem/issues/221?

[2016-09-19 19:47] HaoK commented on #232
I guess if we want this behavior changed in a non breaking way, we can just introduce a flag to PhysicalFileProvider that optionally disables the call blocking some of the checks in here (not sure if we want to allow only ".", or also hidden but never system.

https://github.com/aspnet/FileSystem/blob/dev/src/Microsoft.Extensions.FileProviders.Physical/FileSystemInfoHelper.cs#L13

Then for configu

[2016-09-19 20:39] blowdart commented on #232
We'd still need to update the static file handler too. I'd be careful about using Hidden, as that has an actual meaning on NTFS.

[2016-09-19 20:51] HaoK commented on #232
Well what I'm suggesting is there would be no change in behavior for the static file handler since its using the same code path, we'd just add an opt out...

[2016-09-19 21:02] pranavkm commented on #231
Totally.

[2016-09-19 21:02] #231 closed

[2016-09-19 21:09] Tratcher commented on #232
IFileProvider and PhysicalFileProvider were originally built for StaticFiles and most of the file access restrictions were implemented inside PhysicalFileProvider. About the only thing StaticFiles does itself is check the file extension to look up the mime-type.

When PhysicalFileProvider started getting used in a more general context non of the design decisions were re-evaluated.

[2016-09-23 17:35] muratg commented on #221
Interesting idea, though I think this could be a sample or a contrib project rather than a supported thing.

[2016-09-23 17:36] muratg commented on #223
@rynowak did you end up having any measurements for this code path?

[2016-09-23 18:14] pranavkm commented on #221
The nice thing about this would be that it would be a reasonable solution that we could point users to for limitations in our current file provider implementations. For instance, @dazinator's solution listed here  - https://github.com/aspnet/FileSystem/issues/184#issuecomment-234246375 - could be rewritten as an in memory file provider.

[2016-09-23 18:26] dazinator commented on #221
@pranavkm - I ended up creating an in memory file provider in the end.. its probably not optimal but it works for me! Here are its tests: https://github.com/dazinator/NetPack/blob/rjs/src/NetPack.Tests/FileProvider/InMemoryFileProviderTests.cs

[2016-09-23 18:33] pranavkm commented on #221
If you refactor it in to a separate GitHub project and publish packages it to NuGet.org, we could direct people to it in the project's README. Is that something you might be interested in?

[2016-09-23 21:12] #124 closed

[2016-09-23 21:16] muratg commented on #234
This is an interesting idea. However this would be a breaking change in 1.*.

[2016-09-23 22:31] rynowak commented on #223
no update on this from me, I haven't looked at it again

[2016-09-23 22:47] pranavkm commented on #223
Not entirely relevant since this was done in a non-hosted application, but here's a profile from when I was working on MvcPrecompilation:

![image](https://cloud.githubusercontent.com/assets/174281/18803422/bc513590-81a4-11e6-9be3-ad8edc9bd8ba.png)

That said, it should be a pretty small change to make the instantiation deferred.

[2016-09-24 14:45] dazinator commented on #221
Sure I'd be happy to do that - it might be a little while though before I can get some time to do it.

[2016-09-26 15:48] muratg commented on #223
Impact seems to be low enough. Even if the change is small, it would still be churn with potential issues we haven't thought of.

Backlogging for now, but let me know if you guys feel like this is important enough and we should bring it back in 1.2.

[2016-09-26 19:56] natemcmaster opened #236 "Support '?' to match single character in globbing pattern"
Syntax: The ? wildcard character matches a single character.

This would allow us to use globbing to match MSBuild wildcard syntax (see https://msdn.microsoft.com/en-us/library/ms171453.aspx#Anchor_3).

Example scenario: creating a file watcher for an MSBuild file....[maybe](https://github.com/Microsoft/msbuild/issues/1026).

[2016-09-28 23:48] natemcmaster commented on #224
Might be room for even more improvement that #237. See https://github.com/aspnet/FileSystem/pull/237#issuecomment-250090925

[2016-09-29 16:28] #233 closed

[2016-09-29 21:38] pranavkm opened #238 "Modify PollingWildCardChangeToken to include the timestamp of the files along with the names as part of hash check"
Consider the following timeline

[code]

The `PollingWildCardChangeToken` only carries the timestamp of the most recently changed last write time window. Consequently this wouldn't work when a file is modified but it's timestamp hasn't moved forward. We could avoid this by additionally storing the timestamp along with the name of the file.

[2016-09-29 21:39] pranavkm commented on #238
cc @Eilon

[2016-09-30 05:24] Eilon commented on #238
Not a task. This is a genuine bug. Tasks are for code cleanup!

[2016-09-30 17:09] #238 closed

[2016-10-11 22:17] #224 closed

[2016-10-21 15:49] muratg commented on #232
I like the opt-in model - keep the default behavior as is, and have an option to serve all files as this is being used in a more general context than it was originally designed for.

cc @Eilon

[2016-10-22 02:30] atrauzzi commented on #232
Wouldn't that assume that dot files actually represent something that needs to be secured in the first place?

[2016-10-23 14:05] dazinator commented on #221
I have started this, with a view to contributing a `RequestPathFileProvider` and an `InMemoryFileProvider` here: https://github.com/dazinator/Dazinator.AspNet.Extensions.FileProviders/blob/master/README.md

Once its ready i'll distribute on NuGet.

[2016-10-24 16:51] Eilon commented on #232
@atrauzzi yes because in the *nix world that's generally true. Starting with a `.` means it's hidden.

But, I agree that for the purposes of components such as loading config files, these rules don't make sense, and we should have a way to load any reachable file.

[2016-10-24 16:51] Tratcher opened #241 "ChangeTokens and signalling Deleted files"
_From @dazinator on October 24, 2016 16:47_

Hello,

In my custom IFileProvider, i'd like it to behave correctly when a file being watched is deleted. I already have it returning a custom `IChangeToken` for the watched file, but i'm not clear on exactly what needs to be done in order to correctly signal a Delete. Are there any examples of this that I could look at?

_Copied from original issue: as

[2016-10-25 14:39] atrauzzi commented on #232
@Eilon - As someone coming from the unix world, it's very obvious that there's some conflation of "hidden" and "secure" here.  I'm only highlighting this because numerous times in this discussion, it keeps getting mentioned, despite me pointing out the misunderstanding.

[2016-11-03 17:28] HaoK opened #242 "Add more functional tests for file change notifications"
We should add some basic end to end coverage of file change notifications on each OS using the actual file watcher.  Today most of the tests are using a mock file watcher which doesn't expose any real issues caused by behaviors from the OS.

The configuration reload on change feature has been flaky and although that will have some test coverage of this as well, it would be more appropriate for the

[2016-11-03 17:28] HaoK commented on #242
Per what we discussed @pranavkm

[2016-11-04 22:07] javiercn opened #243 "[BREAKING CHANGE] public class Microsoft.Extensions.FileProviders.FileSystemInfoHelper was made static"
V1:
`public class FileSystemInfoHelper`
V2:
`public static class FileSystemInfoHelper`

[ACTION for 1.1]: Undo the breaking change.
[ACTION for 2.0]: Make the class internal.

[2016-11-04 22:07] javiercn commented on #243
@Eilon @muratg

[2016-11-04 22:09] natemcmaster commented on #243
Mea culpa. 0e2180335d6d9156840fbf8a4dca0c9c1ee77509

[2016-11-04 22:11] Eilon commented on #243
No biggie, let's just make it un-static and we'll fix it in 2.0.

[2016-11-04 22:14] javiercn opened #245 "[BREAKING CHANGE] Parameter name changed on public class Microsoft.Extensions.FileProviders.Physical.PhysicalFilesWatcher : System.IDisposable => public .ctor(System.String root, System.IO.FileSystemWatcher fileSystemWatcher, System.Boolean pollForChanges)"
V1:
`public PhysicalFilesWatcher(string root, FileSystemWatcher fileSystemWatcher, bool pollForChanges)`
V2:
`public PhysicalFilesWatcher(string rootDirectory, FileSystemWatcher fileSystemWatcher, bool ForChanges)`

[ACTION for 1.1]: Undo the parameter rename.
[Action for 2.0]: None.

[2016-11-04 22:15] #243 closed

[2016-11-04 22:15] javiercn commented on #245
@Eilon @muratg

[2016-11-04 22:41] #245 closed

[2016-11-14 09:40] Jetski5822 commented on #30
+1 would be nice to have this too, was just looking to see if I could do something for async file storage in Orchard 2

[2016-11-18 23:13] dazinator commented on #221
I am just comparing the test coverage on my InMemoryFileProvider to the tests you have for the Physical File Provider, to make sure my provider is aligned. I noticed you have this test for the PhysicalFileProvider on Windows.. and I am having trouble understanding the behaviour its asserting or why its desirable.

The test looks like this

[code]

I am wondering why, when requesting a File named `

[2016-11-18 23:32] pranavkm commented on #221
@JunTaoLuo any idea on what this test is attempting to do? It looks like it's attempting to basically create a `FileInfo(Path.Combine(dir, "/'))`

[2016-11-18 23:44] dazinator commented on #242
Also a rename folder would be interesting.. Especially when you have a pattern watching just the old folder name, just the new file name, or both.

[2016-11-18 23:55] pranavkm commented on #242
The `PhysicalFilesWatcher` attempts to calculate the old and new paths on rename: https://github.com/aspnet/FileSystem/blob/dev/src/Microsoft.Extensions.FileProviders.Physical/PhysicalFilesWatcher.cs#L186. IMO, the amount of work it does (file enumeration + string replacement) seems a bit daunting especially considering there really isn't a very good way to verify this.

[2016-11-19 00:28] dazinator commented on #242
Yeah.. I suppose the worst thing about this current implementation you pointed (if I am reading it correctly) is if the root directory is large and you are only watching a couple of items nested quite deep in the directory, it looks like its going to walk the entire directory doing a little bit of processing to check for a token for each directory item - and after all that work there may only be l

[2016-11-19 03:13] JunTaoLuo commented on #221
Yes, these are not really valid filenames. They should really be a combination of slashes followed by a filename, for example `/\\/file.txt`. These tests were added to test the handling of leading slashes for file providers in a way that's consistent with the filesystem. On Windows files like `{fileproviderroot}\///\file.txt` can be resolved to the actual file `{fileproviderroot}\file.txt`. Howeve

[2016-11-19 03:47] dazinator commented on #221
Thanks for clarifying! Seems like if the file does not exist, irrespective of how slashes are handled for its path, the correct behaviour would be to return a NotFoundFileInfo! Not that it matters a huge deal as people obviously shouldn't be upcasting IFileInfo's anyway :-)

[2016-11-19 04:27] dazinator commented on #30
Minus 1 for Exists becoming a task :p - given that a fileinfo first has to be retrieved (via GetFileInfo or GetDirectoryContents) it seems you should know at that point - ahead of instantiating the FileInfo whether the requested file / directory exists or not.. imho.

I have also thought about an azure blob storage provider.. but I stopped when I thought about its Change Token implementation. It r

[2016-11-19 04:33] Jetski5822 commented on #30
I agree, Exists should stay non async

[2016-11-20 01:15] dazinator commented on #221
Hi Guys and Gals - In terms of globbing (pattern matching) - is there anything I can leverage built in to .NET yet? I don't want to touch file system, I just want to do a basic:

[code]

[2016-11-20 17:22] pranavkm commented on #221
https://github.com/aspnet/FileSystem/blob/dev/src/Microsoft.Extensions.FileSystemGlobbing/MatcherExtensions.cs#L101

[2016-11-20 22:38] dazinator commented on #221
@pranavkm thanks for that. It doesn't look like the full glob spec is implemented by the matcher just yet, do you know if there are plans to do that in the future? The owner of https://github.com/kthompson/csharp-glob is considering porting to asp.net core and publishing on NuGet which might fill this gap in the meantime.

[2016-11-21 06:02] pranavkm commented on #221
We haven't gotten any requests for missing features with the globbing library as yet, but we'd certainly be open to enhancing it if you have specific work items in mind.

[2016-11-21 23:20] dazinator commented on #221
Ok. I can see #236 already tracks extending the globbing. I'll leave that as a seperate issue!
I have finished implementing the `InMemoryFileProvider` and `RequestPathFileProvider` and this is being distributed via [NuGet](https://www.nuget.org/packages/Dazinator.AspNet.Extensions.FileProviders/)

So will close this now!

I also have an idea to implement another FileProvider that will let you add

[2016-11-21 23:20] #221 closed

[2016-11-21 23:47] pranavkm commented on #221
Feel free to send an update to the README to add a link to the InMemoryFileProvider package.

[2016-11-22 00:06] dazinator commented on #241
I figured some of this out. Looks like the behaviour is:

- Client calls watch on file provider to get a change token.
- Change tokens are generally cancellation change tokens - which means the change is signalled to the client by calling Cancel() on it.
- when the token is signalled (cancelled) the token is essentially dead and should not b reused. This means the client should dump it and get a f

[2016-11-22 20:44] dazinator commented on #221
PR submitted.

[2016-11-25 01:34] dazinator opened #247 "restrictions"
Its interesting to read #232 #213 #186 where basically the comments from the team seem to indicate an intention to bake in security restrictions (such as ignoring files that start with ".") to make particular files invisible.

Seems backwards to me. It seems these decisions may be taken purely because one use case for a provider is to automatically serve up content from a webroot directory to the

[2016-11-25 10:09] ycrumeyrolle opened #248 "Inconsistent behaviour between GetFileInfo & Watch"
Take the following code :
[code]
Tried with a PhysicalFileProvider.
If I call the `FileChanged()` method directly, the file provider is functioning properly and providing information on the file.
If I change the file, the change is not watched and the ChangeToken does not trigger.

If I update the code by removing the trailing `.\`, the ChangeToken is also functioning properly :
[code]

The GetFil

[2016-11-27 18:16] dazinator opened #249 "Searching"
It would be nice to be able to Search for a bunch of IFileInfo's using a pattern.

I have implemented this as an extension method - would you consider adding something like this in future?

[code]

Then usage is like:

[code]

This type of cuntionality is useful for instance when watching using a pattern.
For example if watching "/js/*.js" - when that change tolen is signalled, there is no way to

[2016-12-02 20:27] HaoK commented on #242
@pranavkm there might be a specific issue with linux file events not firing if a directory and file are created too close together, see https://github.com/aspnet/Configuration/pull/564

[2016-12-04 16:00] pranavkm commented on #242
Do you know if it's an issue with our wrapper on top of the FSW or the underlying FSW? The latter would warrant starting a thread in https://github.com/dotnet/corefx

[2016-12-07 22:22] dazinator commented on #236
I ended up [writing a small globbing library](https://github.com/dazinator/DotNet.Glob) in the end, as the pattern matching stuff currently available in asp.net core didn't implement enough of the globbing spec for my needs.

It handles the following syntax (examples sourced
[from wikipedia](https://en.wikipedia.org/wiki/Glob_(programming)):

| Wildcard  | Description | Example | Matches | Does no

[2016-12-09 13:10] Kation commented on #200
Yeah, I think this is useful too.
We can implement some file provider base on ftp and webapi etc.

[2016-12-18 22:30] dazinator opened #253 "Watch() - Exclude pattern"
When watching() it's often quite useful to watch based on an include list and an exclude list.

For example watch all *.js files, except for "bundle.js".

The `IFileProvider` interface at the moment only allows watching a single include pattern.

This would be more useful:

[code]

[2016-12-18 22:41] dazinator commented on #253
include and exclude are also useful when searching for files, however this was easier to solve, as you can write your own searching implementation like I have done here - which walks the directory from the provider and evaulates whether the file matches any of the include patterns, and if it does, also verifies it doesn't match any of the exclude patterns:

https://github.com/dazinator/Dazinator.A

[2016-12-19 23:10] NTaylorMullen opened #254 "Undo ConditionalFact workaround."
Due to https://github.com/Microsoft/vstest/issues/291 `[ConditionalFact]`/[OSSkipCondition]` result in test not running. We've worked around this by adding a runtime check of the OSPlatform.

Marker comments have been added that look like:
[code]

Can also revert the initial commit to add the workarounds: https://github.com/aspnet/FileSystem/commit/ac5e3f27f5c3fcdfd35eb15d51efc3f509b0fa0f

[2017-01-11 18:43] muratg opened #255 "DefaultFilesMiddleware in conjunction with EmbeddedFileProvider and subpaths"
_From @avanderhoorn on January 3, 2017 6:10_

The behaviour of `DefaultFilesMiddleware` doesn't seem quite right when used in conjunction with `EmbeddedFileProvider` and subpaths. Specifically if my url was "localhost:3000/static/client/" and my `EmbeddedFileProvider`s `baseNamespace` was setup to point to `static`,  I would expect that translate through to and look for "localhost:3000/static/clie

[2017-01-11 18:43] muratg commented on #255
_From @Tratcher on January 3, 2017 6:53_

Yes, this is a known limitation of EmbeddedFileProvider and that's where any enhancements would need to be made.

[2017-01-11 18:43] muratg commented on #255
_From @avanderhoorn on January 3, 2017 17:22_

I'm happy to bring this up there, but before putting further energy into this, I wanted to see if there is any desire to support this use case?

[2017-01-11 18:43] muratg commented on #255
_From @Tratcher on January 3, 2017 17:52_

It has come up before, though I can't find the thread at the moment. Yes, it would be nice to make it work eventually.

[2017-01-14 13:30] thomaslevesque commented on #200
I was so glad to find this library... and so disappointed when I realized it didn't handle write scenarios!
Adding support for this should be as simple as adding a `CreateWriteStream` method on `IFileInfo` (well maybe it would need a few parameters to specify things like FileMode, FileAccess, FIleShare etc)

[2017-02-20 09:11] s-trooper commented on #236
are there plans to support standard globbing patterns?

[2017-02-20 15:31] SebastianStehle commented on #200
Would be super helpful for me as well.

[2017-03-03 14:11] dazinator commented on #255
I think you can overcome this limitation using my [InMemoryFileProvider](https://github.com/dazinator/Dazinator.AspNet.Extensions.FileProviders).

For example, this test shows taking an embedded resource: `Dazinator.AspNet.Extensions.FileProviders.Tests.Resources.myresource.txt` and serving it on a request path: `/some/folder/myfile.txt`.

[code]

All you'd need to do is set up the InMemoryFilePro

[2017-03-03 14:34] dazinator commented on #241
Can I seek some clarification?

If watching a glob pattern with PhysicalFileProvider - say `*.txt` - am I right in assuming the only way to work out what files have changed, is to:

1. Query all the files that currently exist matching that pattern before you do the "watch"
2. When the change token for the glob is signalled - re-query the files using the glob.
3. Compare the state of files before a

[2017-03-03 14:42] dazinator commented on #234
Just saw this, think it ties with #241 and #253

[2017-03-03 14:52] dazinator commented on #206
In the end I managed to solve this issue.
Steps were:
1. Created an InMemoryFileProvider -[here](https://github.com/dazinator/Dazinator.AspNet.Extensions.FileProviders):
2. On application startup, I add my embedded resources (themes etc) to the InMemoryFileProvider - giving them a proper directory / path.
3. I include the InMemoryFileProvider in the composite, I don't use EmbeddedFileProvider.

No

[2017-03-03 15:07] dazinator commented on #200
Not sold on this, and I'll try and explain why.. The nice thing about having IFileProvider essentially provide only "read" functionality is this:

You can combine multiple `IFileProviders` into a composite. This lets you read a file without worrying about where its read from.

For example, you can combine OneDrive File Provider, with a GoogleDriveFileProvider into a composite.
When you then retrie

[2017-03-03 18:58] dazinator commented on #200
One other thing to watch out for,
If you attempt to write to a file, that is being actively read from (many of the files provided by IFileProvider are served up) the writes will fail as the file is in use. This makes attempting to modify files that are provided by an IFileProvider a potential pain if they are constantly being accessed. However that may be a sign that you need to use caching or som

[2017-03-03 20:42] dazinator commented on #200
You can find more here: https://github.com/dazinator/DotNet.Cabinet/

[2017-03-03 23:16] SebastianStehle commented on #200
I am not sure if the implementation of the composite file provider is really clever at the moment. I see a problem:

1. File paths are not unique anymore. Two files could have the same path and it is defined by the order of how you register the file providers which files will be used. This might become when you create a new file. Before you got it from provider B but after you added a file with th

[2017-03-04 01:25] dazinator commented on #200
You can achieve that kind of mapping already. Take a look at the RequestPathFileProvider I made here: https://github.com/dazinator/Dazinator.AspNet.Extensions.FileProviders

You'd use it like this:

[code]

[2017-03-04 01:43] dazinator commented on #200
In addition, your point here:

I am actually deliberately exploiting this ability here: https://github.com/dazinator/DotNet.Cabinet/
It basically allows for the concept of have different layers of files, where for example, a system layer of files can be "overridden" by another layer, but not replaced. In a modular system, this allows for example Module A, to have access to a system layer of files,

[2017-03-04 08:41] SebastianStehle commented on #200
Good to know that it is already possible. I see, that there are definitely some scenarios where it makes sense, but these scenarios are rare and it is just a configuration of how to register them.

See the following example:

	FileSystemBuilder.New()
		.AddReadOnly("scripts", new PhysicalFileProvider("wwwroot/scripts")),
		.AddReadOnly("styles", new PhysicalFileProvider("wwwroot/styles")),
		.AddW

[2017-03-14 17:56] #254 closed

[2017-03-14 22:36] tidyui opened #262 "EmbeddedFileProvider not working correctly with MSBuild when default Namespace != Assembly name"
I've converted a project.json to msbuild and all embedded resources stopped working. My guess is that the problem lies in this line here:

https://github.com/aspnet/FileSystem/blob/dev/src/Microsoft.Extensions.FileProviders.Embedded/EmbeddedFileProvider.cs#L34

I'm assuming that ResourceManifestNames for project.json build was always generated from Assembly name, however when I switched to msbuild

[2017-03-14 23:07] natemcmaster commented on #262
This is likely not an issue with the embedded file provider, as the provider is agnostic to whether the assembly was compiled via project.json or MSBuild.

In MSBuild, you can control the resources' manifest names by adding the `<RootNamespace>` property to your \*.csproj file. This value [defaults to the filename](https://github.com/dotnet/sdk/blob/dev15.0.x/src/Tasks/Microsoft.NET.Build.Tasks/bu

[2017-03-15 08:18] tidyui commented on #262
Yes this was exactly what I wrote :) When the project was compiled without MSBuild the resources manifest names were **always** based on Assembly name as opposed to MSBuild where it is based on root namespace. To me having a constructor without `baseNamespace` is **wrong** as functionality of the provider can not be guaranteed. The provider then bluntly **assumes** that the root namespace is the s

[2017-03-15 15:30] pranavkm commented on #262
Perhaps we can call this out in the `summary` of the ctor. In the default case, this just works, so it seems like a loss of convenience to remove it.

[2017-03-20 21:40] muratg commented on #236
We'd accept PRs for this.

[2017-03-20 21:45] muratg commented on #248
@pranavkm thoughts?

[2017-03-20 21:51] muratg commented on #262
Agreed with @pranavkm. We can have better docs to guide folks towards using [this overload](https://github.com/aspnet/FileSystem/blob/72d77a0b665e6a9d9ef7f36033551ccfa56892d2/src/Microsoft.Extensions.FileProviders.Embedded/EmbeddedFileProvider.cs#L44)

[2017-03-20 21:51] #262 closed

[2017-03-20 22:07] pranavkm commented on #248
Yeah, we should fix this. The issue is more pervasive and affect other relative paths for instance - `/Views/Home/../Shared/_Layout.cshtml` is a valid rooted path, but `Watch` doesn't work with this.
We workaround this in Mvc (https://github.com/aspnet/Mvc/commit/cfa9631ce80edbb78c821cba88e50a085035eacc) primarily because we wanted the view engine to work in a file provider agnostic way, but it wo

[2017-03-21 14:57] luanmm commented on #184
Anything regarding this problem? It really messes up with a lot of technologies used today, like _npm_, for instance.

When using libraries like Angular 2, you need to reference the dependencies that are stored (_npm_-style) like "../lib/@angular/core/index.js". The EmbededFileProvider provide it as "../lib/_angular/core/index.js", so it lose its original reference.

Of course there are some "work

[2017-03-21 16:43] lfoust commented on #30
+1 for providing an async interface to IFileProvider. Since the configuration system is built on top of this we often have to make network calls to see if configs need to be refreshed. I love that this interface provides a Watch method for refreshing on changes but without the ability to make an async call to retrieve the file info it severely limits its usefulness.

[2017-03-21 17:32] Eilon commented on #184
@luanmm unfortunately I don't know what we can do with this bug here. It's a fundamental limitation of how embedded resources work in .NET. It could just be that the Embedded File Provider isn't the right solution for the issue you describe because it doesn't support certain path characters.

[2017-03-21 18:33] jbagga opened #263 "Test: TokensFiredForNewDirectoryContentsOnRename sometimes fails on Windows 10"
[TokensFiredForNewDirectoryContentsOnRename](https://github.com/aspnet/FileSystem/blob/dev/test/Microsoft.Extensions.FileProviders.Physical.Tests/PhysicalFileProviderTests.cs#L1138) failed on the CI a few times in the past week.

cc @muratg

[2017-03-21 20:26] dazinator commented on #184
I managed to solve this issue, but it wasn't trivial. Had to write a tool to run at build time to generate a mappings file, which maps the embedded resource names of the files to be embedded, with their relative paths on disk. I then embed this mappings file into the assembly. At runtime, on startup, I grab the embedded mappings file, and set up an InMemoryFileProvider (available as a nuget packag

[2017-03-22 19:38] luanmm commented on #184
I partially agree with you, @Eilon. I don't see that this is a concern just for the "FileSystem team", too, because the resources already come with the wrong names.

But, for sure, it is a problem in the ASP.NET framework, that is not capable of providing a good EmbededFileProvider because the "packaging system" that handles the embedded resources just messes up with file/folder names.

The soluti

[2017-03-22 20:06] Eilon commented on #184
@luanmm yep I agree. By coincidence I was also thinking about the same solution @dazinator mentioned so that could very well work.

[2017-03-22 20:12] luanmm commented on #184
Nice, @Eilon! Hope it can be a good solution for this item.

Thanks for your attention here, @Eilon and @dazinator!

[2017-03-22 20:50] dazinator commented on #253
Any thoughts on this anyone?

[2017-03-22 21:01] dazinator commented on #241
TLDR: How to know what files have caused a change token covering a glob pattern, to be signalled?

[2017-03-23 14:54] luanmm commented on #184
Just one thing I forgot to reinforce: the designed solution must consider other special characters too, not the dash only (as stated in this issue title). Characters like "@" was already tested, for instance, and the case is the same.

Maybe it would be helpful to rename the issue to not mislead who will take this backlog item.

[2017-03-24 22:01] pranavkm opened #267 "EmbeddedFileProvider should not be compiled for netstandard1.0"
The comment here says we should remove the TFM in 2.0: https://github.com/aspnet/FileSystem/blob/dev/src/Microsoft.Extensions.FileProviders.Embedded/EmbeddedFileProvider.cs#L57

[2017-03-24 22:01] pranavkm commented on #267
cc @muratg - we should try and sort this for 2.0 if we plan on doing this.

[2017-03-26 01:17] dougbu opened #268 "Add baselines to enable checks for breaking changes"
One shipped project in this repo lacks baselines. Looks like baseline files (`baseline.net45.json` and `baseline.netcore.json`) should be created in `release` or `rel/1.0.1` and checked into at least `dev`. The details below are reformatted from a recent Universe build on the CI.
[code]

[2017-04-05 15:02] JosVerburg opened #269 "EmbeddedFileProvider does not support all file paths"
Hello,

We encountered some issues when using the `EmbeddedFileProvider`.

We use files which are placed in a directory with spaces, dashes, dots, and numbers e.g. `dir -..123`. After some testing we found out the manifest resource name is `dir__.._123`.
The unsupported cases are:
* ' ' should become a '_'
* '-' should become a '_'
* '.' followed by an integer should be postfixed with a '_'
These

[2017-04-05 19:04] natemcmaster commented on #269
This issue was raised before on https://github.com/aspnet/FileSystem/issues/184. I would advise not rushing to make a PR yet. Not trying to be mean; I just want to save you time. There is a considerable amount of unresolved design discussion on this issue and we aren't ready yet to make big changes to this behavior (see https://github.com/aspnet/FileSystem/issues/184#issuecomment-288156871).

Clos

[2017-04-05 19:04] #269 closed

[2017-04-14 08:57] natemcmaster commented on #267
I tracked down the history of this comment. It was added here: https://github.com/aspnet/FileSystem/pull/210 cc @BrennanConroy

@muratg any reason we should keep netstandard1.0?

[2017-04-14 13:09] muratg commented on #267
@natemcmaster So it'll be netstandard1.5 only? I think it should be fine -- any objections @davidfowl?

[2017-04-14 17:34] natemcmaster commented on #267
Dropping netstandard1.0 means dropping:

- Universal Windows Platform 10
- Windows Phone 8.0, 8.1
- Windows Phone Silverlight

[2017-04-28 16:47] dazinator opened #272 "Exception with assembly resolution"
I have shipped a nuget package that contains an assembly that references `Microsoft.Extensions.FileProviders.Abstractions` version 1.0.0.0. (i.e it depends on the `1.0.0` nuget package)

The following shows this assembly and it's reference:
![image](https://cloud.githubusercontent.com/assets/3176632/25537791/e3a81940-2c37-11e7-8430-b69355bd10d4.png)

Now, I have a brand new solution, in which I ha

[2017-04-28 17:19] natemcmaster commented on #272
@dazinator can you share a minimal repro?

[2017-04-28 17:35] dazinator commented on #272
@natemcmaster - sure - here you go: https://github.com/dazinator/NetPack/tree/repro-assy-resolve
Just open the solution in VS, build, and run the unit test.

[2017-04-28 17:40] natemcmaster commented on #272
Is this VS only? I have preview builds of VS installed, so not sure if my newer version fix it, but this passes fine on command line using .NET Core CLI 1.0.1.

![image](https://cloud.githubusercontent.com/assets/2696087/25540212/21cf609a-2bff-11e7-9753-cc9fe9cf03c0.png)

[2017-04-28 17:44] natemcmaster commented on #272
Nvm, got a repro. Likely duplicate of https://github.com/Microsoft/vstest/issues/428

As I mentioned https://github.com/Microsoft/vstest/issues/428#issuecomment-276801928, you can workaround with
[code]
Can you confirm it fixes the issue for you?

[2017-04-28 17:52] dazinator commented on #272
Ah yes! Adding those has fixed the issue! Awesome thanks for the quick response.

[2017-04-28 17:55] natemcmaster commented on #272
Closing as duplicate of Microsoft/vstest#428

[2017-04-28 17:55] #272 closed

[2017-04-28 17:55] dazinator commented on #272
Also - in case this is relevent, this became an issue after upgrading the solution from project.json based solution to the new csproj - which was done when opened in VS 2017 for the first time..

[2017-04-28 17:57] natemcmaster commented on #272
The fix is also available in a preview version of Microsoft.NET.Test.Sdk.

https://www.nuget.org/packages/Microsoft.NET.Test.Sdk/15.3.0-preview-20170425-07

[2017-04-28 18:22] dazinator commented on #272
Cheers.
I have applied this fix to my actual repository, but I am now seeing a different error when running some tests - just raising on the offchance this is related:

System.IO.FileLoadException : Could not load file or assembly 'Microsoft.AspNetCore.NodeServices, Version=1.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60' or one of its dependencies. Strong name signature could not be ver

[2017-04-28 18:33] dazinator commented on #272
@natemcmaster I have updated the repro to show this latest problem. Would you like me to create a new issue for this one? https://github.com/dazinator/NetPack/tree/repro-assy-resolve

[2017-04-28 18:35] natemcmaster commented on #272
Try using the RTMed version of that package instead of a the beta. If you still have issues, Microsoft.AspNetCore.NodeServices comes from https://github.com/aspnet/JavascriptServices.

[2017-04-28 18:41] dazinator commented on #272
@natemcmaster - Thanks I understand what you are indicating - i.e there is a problem with the signed assembly itself in that package. But if that is the case I am left wondering why these tests were prevsiously passing. I have not updated this particular package, I have only upgraded my solution form project json to csproj..

[2017-04-28 18:52] dazinator commented on #272
It's weird. I couldn't upgrade to the RTM version of that package because that requires me to upgrade my entire application from asp.net core 1.0.0 to 1.1.0. However downgrading the nuget package to a different version fixes it. For some reason the tests just don't like this particular assembly, even though they did before the upgrade. Maybe the assembly has somehow become corrupt or something, i'

[2017-05-12 21:51] muratg commented on #121
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 21:51] #121 closed

[2017-05-12 21:51] muratg commented on #162
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 21:51] #162 closed

[2017-05-12 21:52] muratg commented on #166
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 21:52] #166 closed

[2017-05-12 21:52] muratg commented on #200
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 21:52] #200 closed

[2017-05-12 21:53] muratg commented on #213
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 21:53] #213 closed

[2017-05-17 11:48] HeyJoel commented on #206
I'd just like to chip in and add that I've also been having trouble with this abstraction. There's a number of inconsistencies between the behavior of PhysicalFileProvider and EmbeddedFileProvider that breaks the abstraction.

Our use case is that we've implemented a modular system that allows content to be defined in your web project or in plugin packages that referenced via nuget. For some featu

[2017-05-23 08:21] MoeMorox commented on #184
Since there's no update here:
https://github.com/NetCoreStack/Hisar/pull/8 can this be used in this bug here?

[2017-05-23 15:13] dazinator commented on #184
I have no objections if you use any of the code I have posted here, if that's your question? Use at your own risk ofcourse :-)

I prefer now to use an InMemoryFileProvider and add my embedded resources / assets to it as MemoryStreamFileInfo's to be served on whatever request path I choose (which may or may not be related to the embedded resource path). I also find this useful for unit test scenari

[2017-06-02 19:25] NTaylorMullen opened #275 "Enable SHA256.Create() calls to work for desktop applications on FIPS compliant machines."
When unnetcoreappifying our libraries we didn't also enable our `SHA256.Create()` implementations to work under the desktop framework. To do this you need to change `SHA256.Create()` the to the following:

[code]

[2017-06-08 18:52] NTaylorMullen commented on #275
Talked with @Eilon offline. Self-assigning.

[2017-06-08 21:38] pranavkm commented on #275
We should find out if the FIPS issue issue affects `IncrementalHash.Create`. It's a new type so it might do the right thing all the time.

[2017-06-08 21:45] NTaylorMullen commented on #275
Yup, logged this issue with the intent of poking that 😄

[2017-06-09 00:09] NTaylorMullen commented on #275
Yup, not a problem with the incremental hash implementation.

[2017-06-09 00:09] #275 closed

[2017-06-09 12:28] joeaudette opened #277 "EmbeddedFileProvider doesn't handle - in folder names correctly"
I'm using EmbeddedFileProvider in conjunction with StaticFilesMiddleware to serve some static resources.

I ran into a problem with some resources that have - in the folder path were returning not found. For example a request for /cr/js/ckeditor461/skins/moono-lisa/editor.css?t=GB8C

would be not found because of the - in the moono-lisa folder. I observe that this - needs to be converted to _ in o

[2017-06-12 14:14] pranavkm commented on #267
Fixed as part of targeting netstandard2.0 (https://github.com/aspnet/FileSystem/commit/c0e09fdbe1950d7047f39d373abfebcc1fd4553d).

[2017-06-12 14:14] #267 closed

[2017-06-12 20:37] natemcmaster commented on #277
It's a known issue with this file provider. Closing as a duplicate of https://github.com/aspnet/FileSystem/issues/184.

[2017-06-12 20:37] #277 closed

[2017-06-12 20:54] natemcmaster commented on #189
@muratg I recommend we close as wont-fix. The result of this bug is that a file watch token may not always fire for renamed events when the rename caused the directory structure to change permissions or exceed the MAX_PATH length.

I've looked at the changes made in #187, and there aren't good alternatives. In this specific case, it is the System.IO API that is throws when there is an issue traver

[2017-06-12 23:45] muratg commented on #189
👍

[2017-06-12 23:45] #189 closed

[2017-06-13 21:29] natemcmaster commented on #268
This isn't necessary anymore now that we only target .NET Standard 2.0 (see #276 ). We already had baseline.netcore.json file.

[2017-06-13 21:29] #268 closed

[2017-06-19 20:37] #229 closed

[2017-06-28 18:20] dazinator opened #282 "Xamarin - PhysicalFileProvider ctor not implemented exception"
As a PoC, I have an xamarin android project, and am consuming `netstandard` dependencies.

As such, I am able to consume the `Microsoft.Extensions.FileProviders.Physical` nuget package.

In my `MainActivity` I do this:

[code]

The constructor throws a `NotImplementedException` - assuming because there is no watcher implementation ?

Will this ever be implemented? If watching isn't supported on mo

[2017-06-28 18:31] dazinator commented on #282
I think lazy loading the watcher would be a better rather than loading it immediately in the constructor of the physical file provider. That way, if watch() isn't used, the file provider doesn't need to waste resources (or in my case, error) initialising the watcher!

[2017-06-28 18:32] dazinator commented on #223
@muratg2 - here is seemingly a knock on effect if this issue - please see #282

[2017-06-28 22:03] muratg commented on #282
@natemcmaster could you take a look when you have some time?

[2017-06-28 22:10] natemcmaster commented on #282
@dazinator You were right: the root of the issue is https://github.com/aspnet/FileSystem/issues/223. The physical file provider wraps System.IO.FileSystemWatcher. We wouldn't implement a file watcher for android -- that's something xamarin would need to implement in its BCL -- but we can fix #223.

[2017-06-29 10:38] dazinator commented on #282
Ok, cheers. It feels very weird that I am spinning up an IHostingEnvironment with a physical file provider,  on ios and android. The abstraction is almost perfect though as each platform needs to initialise a platform specific root directory and IFileProvider hides this well. I say almost perfect because IHostingEnvironment also exposes a WebRoot directory - which isnt really valid for an android

[2017-06-29 12:14] dazinator commented on #282
I have raised the above as a separate request: https://github.com/aspnet/Hosting/issues/1119

[2017-07-03 18:42] dazinator commented on #282
Ok thanks, i'll close this then in favour of the other one.

[2017-07-03 18:42] #282 closed

[2017-07-05 18:46] pranavkm opened #284 "EmbeddedFileProvider.GetDirectoryContents needs to use the correct case comparison"
https://github.com/aspnet/FileSystem/blob/03e20e8b5687f56412aa49cfb5d32f0e923c2d14/src/Microsoft.Extensions.FileProviders.Embedded/EmbeddedFileProvider.cs#L159

[2017-07-06 16:31] #284 closed

[2017-07-17 20:58] #186 closed

[2017-07-17 21:02] natemcmaster commented on #232
I believe we can close this as duplicate of #186. We ended up taking a suggestion made above by @HaoK. The default behavior remains the same, but we've added flags that allow you to change the filtering behavior for hidden and system files, and files that begin with a dot. See #280 .

[2017-07-17 21:02] #232 closed

[2017-07-19 16:08] Tratcher opened #287 "ChangeToken.OnChange fires twice when listening for configuration changes"
_From @magnusbakken on March 20, 2017 10:22_

When I use ChangeToken.OnChange to listen to configuration changes as described in https://github.com/aspnet/Configuration/issues/432, my handler usually gets called twice in quick succession.

To reproduce:
1. Create a new ASP.NET Core targeting .NET Framework project using the Web API template (I haven't tested targeting .NET Core).
2. Add this line

[2017-07-19 16:08] Tratcher commented on #287
_From @hcoona on April 28, 2017 6:52_

Reproduced also on .NET Framework 4.5.1

[2017-07-19 16:08] Tratcher commented on #287
_From @HaoK on June 15, 2017 23:45_

Yeah this is just how change tokens work, what we did to somewhat mitgate this when we are listening for changes was to add a delay before invoking callback so the changes hopefully will be finished:

https://github.com/aspnet/Configuration/blob/dev/src/Microsoft.Extensions.Configuration.FileExtensions/FileConfigurationProvider.cs#L35

[code]

[2017-07-19 16:08] Tratcher commented on #287
_From @HaoK on June 15, 2017 23:45_

You likely need to do something similar if you don't want to get called multiple times for the same underlying change.

[2017-07-19 16:09] Tratcher commented on #287
Note this is actually caused by the underlying file watcher triggering multiple times for the same change.

[2017-08-23 21:17] #159 closed

[2017-09-06 19:57] Tratcher opened #292 "Provide a zipped file provider"
Consider a file provider that exposes the contents of a zip file. There may also be optional caching of the unzipped content of individual files. This could be used to reduce project publish size, time, etc..

[2017-09-10 05:37] natemcmaster commented on #292
Duplicate of https://github.com/aspnet/FileSystem/issues/213. We discussed before and decided not to implement this. Any reason to reconsider?

[2017-09-10 05:42] Tratcher commented on #292
@DamianEdwards and I were discussing different ways to reduce app deployment size, and the static wwwroot assets are the one of the largest pieces. I put together a sample here:
https://github.com/Tratcher/ZipFileProviderExp/blob/729bff83b63022e7a666bb6c33e424a4e0afe9f7/SampleSite/Program.cs#L26
It reduced the template static assets size from 2.4mb to 600kb.

The actual solution he wants is to pre

[2017-09-15 10:32] evil-shrike commented on #186
Please look at my comment in the PR about further enhancements in PhysicalFilesProvider  - https://github.com/aspnet/FileSystem/pull/280#issuecomment-329744726.

[2017-09-15 13:03] evil-shrike opened #293 "PhysicalFileProvider: improvements for filtering options"
As continue of https://github.com/aspnet/FileSystem/pull/280#issuecomment-329744726
In [PR](https://github.com/aspnet/FileSystem/pull/280) enum `ExclusionFilters` was introduced to allow the physical file provider to show hidden files. I'd like to suggest more enhancements to `PhysicalFileProvider`.

* enum flags `ExclusionFilters` can be fine but wouldn't be safer to add an options object to ctor

[2017-10-05 12:30] marcuslindblom opened #295 "Use FileProvider to stream views and static files hosted in the cloud"
Is it possible to use any `IFileProvider` implementation, or any other feature to load views and static files via `http`?

What I'm trying to achieve is to have an interface in my MVC app that is accessible via `http://domain.com/myarea` that loads the `_Layout.cshtml`, all views and static files for that specific area without having them on disk?

[2017-10-22 05:37] guardrex commented on #287
@divega @HaoK @Tratcher I'm coming up real quick on [the topic for ChangeToken](https://github.com/aspnet/Docs/issues/1291). I'll outline the topic to use `ChangeToken` with config files (as I'm mess'in around with below) and for general file watching. More on that later. Right now, I'm just playing with it.

I couldn't get a reliable solution to the double-firing problem using a delay, so what yo

[2017-10-22 06:01] Daniel15 opened #297 "Editing files"
It looks like this abstraction is read-only... Is there any abstraction that handles writing files too?

[2017-10-23 21:09] HaoK commented on #287
Computing a hash to prevent extra firing seems reasonable

[2017-10-25 13:37] akamyshanov commented on #287
While computing the extra hash does seem like a good idea, experience has shown that issues like file locking or double save are very common and likely to cause problems, at least on Windows systems.

At my company we've come up with this workaround using delayed invocation. The idea is to wait some time before reading the file and restart the timer if another write is detected.

A singleton anti-

[2017-10-25 16:23] HaoK commented on #287
@akamyshanov sure go ahead and file a PR in options and we will take a look

[2017-11-03 09:56] stilettk opened #298 "Support GetFileInfo for directories"
Currently `GetFileInfo` supports only files: when called on a path that points to a directory it returns `PhysicalFileInfo` which has `IsDirectory == false`.

So, when given a path, how to decide what to do: to call `GetFileInfo` (if it's a file) or call `GetDirectoryContents` (if it's a folder)? Currently the only way I found isn't very intuitive:
`bool isDirectory = fileProvider.GetDirectoryCont

[2017-11-06 17:57] JeremyKuhne opened #299 "FileSystemGlobbing passes invalid path upon upgrade to Core 2.0"
From https://github.com/dotnet/home/issues/88 opened by @HarelM:

[code]

More details are in the source issue. His site is here:

Note that we (CoreFX) have not made any changes in System.IO from 1.1 to 2.0 that are in this code path.

[2017-11-06 21:22] HarelM commented on #299
Might be a timing issue that is happening only in 2.0 for some reason as this issue is not happening all the time, but when updating my database on my development environment this happens and so I can reproduce it with high probability (at least this was the case when I opened this issue).

[2017-11-09 11:51] grahamehorner commented on #206
I've just hit this issue with route for area's where the area views are embedded in an external assembly; the area name was low case, but the folder in the assembly was CamelCase; the controller would fire but not find the views, if the same is performed with physical files everything works; please consider making this consistent

[2017-11-15 14:07] grahamehorner opened #300 "Update doc comments for EmbeddedFileProvider constructor without namespace argument"
The EmbeddedFileProvider constructor defaultNamespace is NOT correct when the Assembly Default Namespace is not the same as the name of the assembly

[code]

[2017-11-15 15:57] pranavkm commented on #300
@grahamehorner is there a better way to get to the configured default namespace? The code here is a best effort guess that follows the SDK's convention of using the assembly name as the default namespace.

[2017-11-15 19:36] grahamehorner commented on #300
@pakrym I've wrote and extension method to IList<IFileProvider> which accepts a type and resolves both the assembly & namespace and add the EmeddedFileProvider to the IList<IFileProvider> as a solution for me; I think the constructor comment needs updated to be informative of this limitation/assumption

[2017-11-15 19:43] pranavkm commented on #300
We'd be happy to accept a PR for this.

[2017-11-16 00:23] muratg commented on #292
Tentatively putting this in 2.2.0.  I suspect we'll possibly punt it again after talking about some details.

[2017-11-16 00:24] muratg commented on #293
Looks like an interesting idea, but somewhat breaking. Putting this into the next major milestone tentatively.

[2017-11-16 17:50] pranavkm commented on #300
Fixed in https://github.com/aspnet/FileSystem/commit/bd96038a174eb960b2fdd3f160636aa09b1f98af

[2017-11-16 17:50] #300 closed

[2017-11-24 07:06] hcoona opened #302 "[Suggest] Multi-targeting support for netfx"
I think this is a topic related to all aspnet common libraries (`Microsoft.Extensions.*`) but I didn't found a suitable place for it.

I want the libraries enable multi-targeting feature to decouple netfx with netstandards. There are 2 main benefits for it:
1. Get rid of whole net standard libraries for netfx projects.
1. Support net45 or somehow earlier version of netfx.

A pure netfx project wou

[2017-11-24 07:15] davidfowl commented on #302
We have no plans to support cross targeting to net45 (it's not even a supported framework anymore net452 is the minimum). That 3rd party fork seems like the way to go, it even supports targeting net40 which we're never going to do.

[2017-11-24 07:19] hcoona commented on #302
By saying net45, I'm not stick to it but just use net45 for an example just because the 3rd party fork supported it. I think supporting net462 is also a meanful work.

[2017-11-24 07:23] davidfowl commented on #302
The answer is the same though, we don't cross compile because netstandard2.0 *does* run everywhere we need these libraries to run. I understand the experience is less than ideal but it's being improved.

[2017-11-24 07:32] hcoona commented on #302
Well, it's acceptable but not so good. I really cannot understand why because it could become better for almost **no cost** by merging the forked version back.

[2017-11-29 11:11] imamy4 commented on #299
Hi! I get this exception when saving file in VS2017.
Method `Microsoft.Extensions.FileProviders.Physical.PhysicalFilesWatcher.OnRenamed` received `RenamedEventArgs` where FullPath is saving file name and OldFullPath is NULL. Further `LegacyNormalizePath` throws exception because get empty string as argument.

I watched [FileSystemWatcher.cs](https://referencesource.microsoft.com/#System/services/i

[2017-12-01 19:07] javiercn opened #304 "Provide an MSBuild task to generate a manifest with the original paths from an embedded file"
This is part of the work we are doing for adding embedding UIs

[2017-12-04 02:36] jtkech commented on #184
Just for infos,

In the context of a library where there are no other types of resources and or with culture id ..., here a workaround through msbuild. Not tested with other special characters, but this prevents **dash** "-" from being translated into **underscore**. In my case, it also prevents names as `SomeName.XX.Extension` from being translated to `SomeName.Extension` because `XX` is consider

[2017-12-05 17:31] Eilon commented on #184
@javiercn - is this basically the thing we were talking about for embedding files w/ a manifest?

[2017-12-05 19:00] javiercn commented on #184
@Eilon Yes. I'll self-asign it to me

[2017-12-11 22:02] yp87 commented on #299
Using 2.0, our application crash here sometimes:
` [Managed to Native Transition]        Annotated Frame
     mscorlib.dll!System.IO.Path.NewNormalizePath(string path, int maxPathLength, bool expandShortPaths) Line 500    C#    Symbols loaded.
     mscorlib.dll!System.IO.Path.NormalizePath(string path, bool fullCheck, int maxPathLength, bool expandShortPaths) Line 423    C#    Symbols loaded.

[2017-12-11 22:12] yp87 commented on #299
Our application crashes on that line since upgrade to 2.0 {"The path is not of a legal form."}:
<pre> [Managed to Native Transition]        Annotated Frame
     mscorlib.dll!System.IO.Path.NewNormalizePath(string path, int maxPathLength, bool expandShortPaths) Line 500    C#    Symbols loaded.
     mscorlib.dll!System.IO.Path.NormalizePath(string path, bool fullCheck, int maxPathLength, bool expan

[2017-12-13 15:55] jiatao99 opened #306 "PhysicalDirectoryInfo.PhysicalPath should return relative path"
Call provider.GetDirectoryContents("") might return a PhysicalDirectoryInfo. From there, I should be able to call the provider.GetDirectoryContents(dir.PhysicalPath) to retrieve the directory content from sub folder. However, the PhysicalDirectoryInfo.PhysicalPath returns the absolute path.

Since PhysicalFileProvider only take relative path, I have no easy way to recursively list all the director

[2017-12-13 16:20] jiatao99 opened #307 "CompositeFileProvider should implement IDisposable"
1. I implement my own IFileProvider (like Zip)  and implement IDisposable
2. I add my provider into CompositeFileProvider
3. I add CompositeFileProvider into ServiceCollection

Result:  my provider will not be disposed properly

CompositeFileProvider should implement IDisposable and dispose inner providers.

[2017-12-14 17:27] natemcmaster commented on #299
cc @muratg for triage

[2017-12-14 17:52] muratg commented on #299
@natemcmaster Any idea how this may have regressed?  Assigning to you, but we can load-balance later based on the workload.

[2017-12-14 20:34] natemcmaster commented on #299
@muratg  I can probably take a look at this next week.

@HarelM  @yp87 @imamy4 @czietsman if any of you have a minimal repro, that would be great. The snippets you shared are good clues for an investigation, but still not a full repro since I don't know what kind of values you're passing in to PhysicalFileProvider and other APIs.

[2017-12-15 11:55] czietsman commented on #299
@natemcmaster I'll see if I can put something together for you. I was running my app from within a VM (Hyper-V) with the host drive shared as G:. My binaries were build on the host. It happened pretty frequently if my working directory was also on the shared drive (G:), but hasn't been happening if I started the app from the VM's C: drive.

This setup made it a little bit more tricky to debug the

[2017-12-15 14:09] HarelM commented on #299
Sorry, Not sure how to create a minimal repro as in my case it seems like it has to do with timing.

[2017-12-15 23:46] javiercn opened #309 "Find a reasonable way to test incremental compilation in msbuild tasks"
We need to find a reasonable way to write tests that ensure that we don't break incremental compilation in our msbuild tasks.

See as an example
https://github.com/dotnet/sdk/blob/73fb22a07091585380ead0bcbcdc38839a0266e8/test/Microsoft.NET.Build.Tests/GivenThatWeWantToControlGeneratedAssemblyInfo.cs#L122-L194

[2017-12-19 02:04] #304 closed

[2017-12-19 22:35] javiercn commented on #184
This is fixed by af6fa5abe701e62d6f3ef5e6ff336c5da293e5a8.

We've created a new provider that uses a manifest created at compile time. This provider reflects the original path of the embedded files at the time they were embedded on the assembly.

The manifest gets generated by referencing Microsoft.Extensions.FileProviders.Embedded and adding <GenerateEmbeddedFilesManifest>true</GenerateEmbeddedFi

[2017-12-19 22:35] #184 closed

[2017-12-19 23:49] dazinator commented on #184
@javiercn I am so pleased this was fixed properly in the framework via a manifest.

Can you clarify that bit - is there some new msbuild property?

[2017-12-20 01:10] javiercn commented on #184
I’ve corrected the comment. It contained malformed markdown

[2018-01-01 19:57] jmorrill commented on #299
I'm hitting this with a fairly simple web app.  It is triggered by writing an HLS stream to "wwwroot/streams/[guid]/video.m3u8".  HLS creates, renames and deletes quite a bit.

Here is a screenshot of where the problem "starts"
![aspnet](https://user-images.githubusercontent.com/6867609/34470609-0950a732-eeea-11e7-8439-e79d27a96346.jpg)

Here's the "RenamedEventArgs" the PhysicalFilesWatcher.cs ge

[2018-01-01 23:33] DamianEdwards commented on #299
@muratg just FYI this is actually crashing people's applications and there are multiple reports (here and Twitter). Can we get someone assigned to look at this sooner and mark it as a candidate for servicing please.

[2018-01-01 23:46] aspnet-hello commented on #309
This issue was moved to aspnet/Home#2531

[2018-01-01 23:46] #309 closed

[2018-01-01 23:48] aspnet-hello commented on #307
This issue was moved to aspnet/Home#2532

[2018-01-01 23:48] #307 closed

[2018-01-01 23:48] aspnet-hello commented on #306
This issue was moved to aspnet/Home#2533

[2018-01-01 23:48] #306 closed

[2018-01-01 23:48] aspnet-hello commented on #302
This issue was moved to aspnet/Home#2535

[2018-01-01 23:48] #302 closed

[2018-01-01 23:50] aspnet-hello commented on #299
This issue was moved to aspnet/Home#2536

[2018-01-01 23:50] #299 closed

[2018-01-01 23:50] aspnet-hello commented on #298
This issue was moved to aspnet/Home#2537

[2018-01-01 23:50] #298 closed

[2018-01-01 23:50] aspnet-hello commented on #297
This issue was moved to aspnet/Home#2538

[2018-01-01 23:50] #297 closed

[2018-01-01 23:51] aspnet-hello commented on #295
This issue was moved to aspnet/Home#2539

[2018-01-01 23:51] #295 closed

[2018-01-01 23:52] aspnet-hello commented on #293
This issue was moved to aspnet/Home#2540

[2018-01-01 23:52] #293 closed

[2018-01-01 23:53] aspnet-hello commented on #292
This issue was moved to aspnet/Home#2541

[2018-01-01 23:53] #292 closed

[2018-01-01 23:53] aspnet-hello commented on #287
This issue was moved to aspnet/Home#2542

[2018-01-01 23:53] #287 closed

[2018-01-01 23:55] aspnet-hello commented on #255
This issue was moved to aspnet/Home#2543

[2018-01-01 23:55] #255 closed

[2018-01-01 23:56] aspnet-hello commented on #253
This issue was moved to aspnet/Home#2544

[2018-01-01 23:56] #253 closed

[2018-01-01 23:56] aspnet-hello commented on #249
This issue was moved to aspnet/Home#2545

[2018-01-01 23:56] #249 closed

[2018-01-01 23:57] aspnet-hello commented on #248
This issue was moved to aspnet/Home#2546

[2018-01-01 23:57] #248 closed

[2018-01-01 23:57] aspnet-hello commented on #247
This issue was moved to aspnet/Home#2547

[2018-01-01 23:57] #247 closed

[2018-01-01 23:57] aspnet-hello commented on #242
This issue was moved to aspnet/Home#2548

[2018-01-01 23:57] #242 closed

[2018-01-01 23:58] aspnet-hello commented on #241
This issue was moved to aspnet/Home#2549

[2018-01-01 23:58] #241 closed

[2018-01-01 23:59] aspnet-hello commented on #236
This issue was moved to aspnet/Home#2550

[2018-01-01 23:59] #236 closed

[2018-01-01 23:59] aspnet-hello commented on #234
This issue was moved to aspnet/Home#2551

[2018-01-01 23:59] #234 closed

[2018-01-01 23:59] aspnet-hello commented on #223
This issue was moved to aspnet/Home#2552

[2018-01-01 23:59] #223 closed

[2018-01-02 00:01] aspnet-hello commented on #206
This issue was moved to aspnet/Home#2553

[2018-01-02 00:01] #206 closed

[2018-01-02 00:01] aspnet-hello commented on #199
This issue was moved to aspnet/Home#2554

[2018-01-02 00:01] #199 closed

[2018-01-02 00:02] aspnet-hello commented on #149
This issue was moved to aspnet/Home#2555

[2018-01-02 00:02] #149 closed

[2018-01-02 00:02] aspnet-hello commented on #143
This issue was moved to aspnet/Home#2556

[2018-01-02 00:02] #143 closed

[2018-01-02 00:02] aspnet-hello commented on #118
This issue was moved to aspnet/Home#2557

[2018-01-02 00:02] #118 closed

[2018-01-02 00:03] aspnet-hello commented on #116
This issue was moved to aspnet/Home#2558

[2018-01-02 00:03] #116 closed

[2018-01-02 00:05] aspnet-hello commented on #108
This issue was moved to aspnet/Home#2559

[2018-01-02 00:05] #108 closed

[2018-01-02 00:05] aspnet-hello commented on #86
This issue was moved to aspnet/Home#2560

[2018-01-02 00:05] #86 closed

[2018-01-02 00:06] aspnet-hello commented on #71
This issue was moved to aspnet/Home#2561

[2018-01-02 00:06] aspnet-hello commented on #67
This issue was moved to aspnet/Home#2562

[2018-01-02 00:06] #67 closed

[2018-01-02 00:07] aspnet-hello commented on #45
This issue was moved to aspnet/Home#2563

[2018-01-02 00:07] #45 closed

[2018-01-02 00:08] aspnet-hello commented on #43
This issue was moved to aspnet/Home#2564

[2018-01-02 00:08] #43 closed

[2018-01-02 00:08] aspnet-hello commented on #39
This issue was moved to aspnet/Home#2565

[2018-01-02 00:08] #39 closed

[2018-01-02 00:08] aspnet-hello commented on #34
This issue was moved to aspnet/Home#2566

[2018-01-02 00:08] #34 closed

[2018-01-02 00:09] aspnet-hello commented on #30
This issue was moved to aspnet/Home#2567

[2018-01-02 00:09] #30 closed

[2018-01-02 00:09] aspnet-hello commented on #23
This issue was moved to aspnet/Home#2568

[2018-01-02 00:09] #23 closed

[2018-01-02 00:10] aspnet-hello commented on #21
This issue was moved to aspnet/Home#2569

[2018-01-02 00:10] #21 closed

[2018-01-02 00:11] aspnet-hello commented on #16
This issue was moved to aspnet/Home#2570

[2018-01-02 00:11] #16 closed

[2018-01-02 22:22] Eilon opened #313 "THIS ISSUE TRACKER IS CLOSED - use the Home repo issue tracker"
Hello, this issue tracker is no longer used. Please log new issues here: https://github.com/aspnet/Home/issues

For information about this change, see https://github.com/aspnet/Announcements/issues/283

[2018-04-06 18:15] ryanbrandenburg commented on #263
This is [still happening](http://aspnetci/viewLog.html?buildId=441190&tab=buildResultsDiv&buildTypeId=XPlat_Windows_Win10Universe#testNameId-7947063349423447523). Future instances of it can be seen [here](http://aspnetci/project.html?tab=testDetails&testNameId=-7947063349423447523&projectId=XPlat&buildTypeId=XPlat_Windows_Win10Universe).

[2018-04-06 20:11] Eilon commented on #263
This issue was moved to aspnet/Home#3033

[2018-04-06 20:11] #263 closed

[2018-11-05 22:17] natemcmaster commented on #313
This repo has merged into https://github.com/aspnet/Extensions

[2018-11-05 22:17] #313 closed